[2016-05-04 12:02] nambv opened #1 "When using gallery, it opens explorer to pick image instead of gallery"
I'm using Android device 5.0, It always opens the explorer to pick image instead of gallery, and I can't pick multiple images. It's very strange
[code]

[2016-05-04 16:24] VictorAlbertos commented on #1
Hi @nambv

As you can see in the [internal implementation](https://github.com/FuckBoilerplate/RxPaparazzo/blob/master/rx_paparazzo/src/main/java/com/fuck_boilerplate/rx_paparazzo/interactors/PickImage.java#L44), we are just creating an intent to request any available app which would be able to handle images.

We have not experienced that problem, nor in Android 6 or Android 5; with both versions a

[2016-05-04 17:44] nambv commented on #1
@VictorAlbertos thank you very much for your reply, but one more thing is, when I pick one image, then I repick this image again the quality of this image is reduced, after pick this image about 10 times, it becomes very bad. Is this a bug?

[2016-05-04 21:44] miguelbcr commented on #1
Hi @nambv

I've been testing this behaviour and you are right, there is a bug. We will release a new version asap.

Anyway I'd like to know with which parameters you are launching RxPaparazzo (size, crop, ..) in order to test it in the same scenario.

Thanks!

[2016-05-05 08:59] miguelbcr opened #2 "When crop option is not selected then the original image is deleted."
When the user choose not crop option, currently the original image is deleted, so we need to fix it in order to prevent deleting the original image

[2016-05-05 09:04] miguelbcr opened #3 "Quality loss when same image is selected repeatedly"

[2016-05-05 09:07] #2 closed

[2016-05-05 09:08] #3 closed

[2016-05-05 09:14] miguelbcr commented on #1
We have released [version 0.0.2](https://github.com/FuckBoilerplate/RxPaparazzo/releases/tag/0.0.2)

The problem shoud be fixed at this point.
Please try it out and let us know.

[2016-05-05 10:16] nambv commented on #1
@miguelbcr I don't use any params when lauching RxPaparazzo :/
thanks very much for your help! I appreciate a lot!

[2016-05-05 10:54] egslava opened #4 "When I just include library to gradle I get TintManager error"
[code]

[2016-05-05 11:09] egslava commented on #4
Updated def support library version to '23.3.0' and now everything is okay :-)

[2016-05-05 11:09] nambv commented on #1
@miguelbcr problem solved, but how can I pick image from gallery instead of explorer, because it is more easier for user to chose image from gallery

[2016-05-05 11:14] miguelbcr commented on #4
Hi @egslava,
ok, I'm glad to hear that :).
I was just writing to you to update support library version  as a first attempt to solve it.

[2016-05-05 11:14] #4 closed

[2016-05-05 13:33] egslava opened #5 "Subscriber is not called for nested fragments :-("
What can I do with it? Callback is called only when system asks for permissions. Other results are not reported.

[2016-05-05 13:45] miguelbcr commented on #1
Hi @nambv

I've been testing it on Android 5 and 6 and it does not show a chooser, whereas on Android 4 yes.
Anyway on Android 5 and 6 it opens the gallery instead of the file explorer.

You could use the [internal implementation](https://github.com/FuckBoilerplate/RxPaparazzo/blob/master/rx_paparazzo/src/main/java/com/fuck_boilerplate/rx_paparazzo/interactors/PickImage.java#L44) in your own examp

[2016-05-05 15:52] VictorAlbertos commented on #5
Hi @egslava

I don't know if I understood you correctly, so please correct me if I'm wrong.

Do you mean that when using nested fragments -and only nested fragments- the subscriber observable will only be consume the item when the system asks for permissions?

[2016-05-05 16:16] egslava commented on #5
Hi @VictorAlbertos
I made some animation + demo project. Please, see it:
https://github.com/egslava/bug-report-rx-paparazzo-nested-fragments

[2016-05-05 16:20] VictorAlbertos commented on #5
What a great feedback ;)

Thanks, as soon as possible I'll clone your repo and I'll try to fix it.

[2016-05-06 08:03] egslava commented on #5
Sorry, gif was a bit cutted off, so I uploaded original demo video to youtube.
https://youtu.be/s1RlfkxKKpw

Perhaps, do you have any ETA (day/week/month)? :-( Just need to know - if I need to fix it by workaround or I can just do some other tasks instead?

[2016-05-06 08:50] VictorAlbertos commented on #5
The bug is fixed.

I've done a pull request to your project upgrading the rxpaparazzo version, and as long I can tell, it works just fine.

Let me know ;)

[2016-05-06 09:02] egslava commented on #5
Very-very thanks! :-) Great! :-) Thank you! Amazing lib! Good luck! :-)

[2016-05-06 09:03] VictorAlbertos commented on #5
Thanks :) I'm closing this issues.

[2016-05-06 09:03] #5 closed

[2016-05-07 09:31] VictorAlbertos commented on #1
Clogging the issue due to lack of feedback.

[2016-05-07 09:31] #1 closed

[2016-05-07 09:48] egslava opened #6 "Should I remove images after retrieving it?"
It seems, like after every picking image from gallery, RzPaparazzo creates new of that image. Should I remove it always or not?

[2016-05-07 17:11] miguelbcr commented on #6
Hi @egslava,
We thought that it was the best way, because the library could modify the original image by resizing or cropping it, so the resulting image becomes a new image and we save them into the app name folder on external storage, just like, for example, whatsapp does.

Anyway, you could delete the image if you don't need it longer by `new File(filepath).delete();` ,for example, after sending

[2016-05-07 18:48] egslava commented on #6
Thank you for answer! And thank you for your great library! Taking photos from gallery never was so easy :-)

[2016-05-09 10:08] #6 closed

[2016-05-14 15:43] Tieru opened #7 "Fragment doesn't receive result of image pick"
I'm trying to pick an image from gallery. I successfully launch gallery intent with this code but nothing happens after I select an image. None of "subscibe" callbacks get called.
[code]

What's wrong with my code? How can I debug this issue?

[2016-05-15 07:34] VictorAlbertos commented on #7
Hi @Tieru

Are you using the last version of RxPaparazzo?

`compile "io.reactivex:rxjava:1.1.4"`

If so, is your PhotosFragment extending from `android.support.v4.app.Fragment`? Your fragment can't extend from `android.app.Fragment`, because it will not be noticed.

I'm going to update the readme with this information.

[2016-05-15 11:29] Tieru commented on #7
Everything looks fine in my code.
[code]
PhotosFragment extends android.support.v4.app.Fragment

I finished with calling this code from parent Activity. Everything works fine now, even though I still can't call picker from my fragment.

[2016-05-15 16:18] VictorAlbertos commented on #7
Can you please try the new version using a Fragment again, and let me know?

`compile "com.github.FuckBoilerplate:RxPaparazzo:0.0.7"`

[2016-05-15 19:03] Tieru commented on #7
Thank you! It works perfectly now.

And thanks again for your great library!

[2016-05-15 19:03] #7 closed

[2016-05-18 15:00] FranciscoE-Hudl opened #10 "Incompatible with Dagger 1"
The library uses Dagger 2 and annotation processing for DI. Our main app doesn't use either, rather going for a Dagger 1 and no apt approach. This causes conflicts when compiling because the Transform API detects two instances of Dagger.

While I value the cleanliness provided by DI it may be too opinionated to include it on a library. Given the small scope of the classes I would opt for manual co

[2016-05-18 15:29] VictorAlbertos commented on #10
Hi @FranciscoE-Hudl, sorry about that, but I won't replace dagger by manual constructor injection.

I think this is a very rare escenario -most people nowadays uses Dagger 2.

Why are you using Dagger 1? Is it a legacy code thing?

[2016-05-18 15:42] FranciscoE-Hudl commented on #10
Yes, we have a legacy app, and as most apps on the store it's not running on Dagger 2.

But even if it didn't, annotation processing and retrolambda are dependencies that heavily affect app build time. Even if it's the best at what it does, I can't justify adding the library because of that.

[2016-05-18 16:11] VictorAlbertos commented on #10
Have you got any benchmark about using Retrolambda or Dagger 2 as long as annotation processing?

I ask because in my experience I did not notice any downside performance using them on compile time.

Anyway, I can see your point. But I spent a lot of time making libraries and I’m not willing to loose this technologies, even if some people will not use this libraries because of that.

[2016-05-18 16:15] FranciscoE-Hudl commented on #10
I do have my own set of Rx libraries too under http://github.com/pakoito, but can't change my developer convenience for project compatibility. It's not that big of a change either, if you'd accept it as a PR.

[2016-05-18 17:00] VictorAlbertos commented on #10
Ok, but please do it in another branch in order to perform the integration test locally before accepting the pull request.

Thanks :)

[2016-05-19 16:48] FranciscoE-Hudl commented on #10
PR request sent: https://github.com/FuckBoilerplate/RxPaparazzo/pull/11

The tests didn't pass in either master or my branch.

[2016-05-19 18:57] VictorAlbertos commented on #10
The tests pass, indeed.

The problem is that you need to run them with a very specific device, due to the use of automator, which performs its interactions with the screen using pixel coordinates. And also the version needs to be Android 5 -in the future we'll try to accommodate the tests to support android devices running Android 6.

We use the following genymotion emulator, by the way:

Google N

[2016-05-19 19:01] VictorAlbertos commented on #10
Although, I'm not very enthusiast of using SonarLint to validate my "style" xD
Why do you use it, exactly?

[2016-05-19 19:23] FranciscoE-Hudl commented on #10
I use PMD, or FindBugs, or SonarLint, depending on mood xD The errors and warnings are on my screen and look quite annoying, so I tend to fix them if they're easily accessible, as in a IntelliJ suggestion or similar :P

[2016-05-19 19:32] FranciscoE-Hudl commented on #10
Thank you for the merge. I've added you to twitter, feel free to ping me up with anything RxJava, you'll see I'm deep into it too :)

[2016-05-19 19:43] #10 closed

[2016-05-19 21:59] VictorAlbertos commented on #10
I'll do that! You too ;)

[2016-05-21 18:16] MFlisar opened #12 "Dependency free version (no uCrop)"
Is it possible to split the library into two parts, one with crop support (and the corresponding dependency to uCrop) and one without?

So that we end up with a usage like following:

    compile "com.github.FuckBoilerplate:RxPaparazzo:0.1.0"
    compile "com.github.FuckBoilerplate:RxPaparazzo-crop:0.1.0"

so that someone who does not want to include uCrop can still use your library?

[2016-05-21 19:10] MFlisar opened #13 "Request is null after calling camera intent"
I get following exception:

	Caused by: java.lang.NullPointerException: Attempt to invoke virtual method 'rx_activity_result.OnResult rx_activity_result.Request.onResult()' on a null object reference
	at rx_activity_result.HolderActivity.onCreate(HolderActivity.java:33)
	at android.app.Activity.performCreate(Activity.java:6374)
	at android.app.Instrumentation.callActivityOnCreate(Instrumentation.j

[2016-05-21 20:18] MFlisar commented on #13
PS: following manual approach works though:

	@Override
	public boolean onMenuItemClick(MenuItem item)
	{
		switch (item.getItemId())
		{
			case R.id.action_camera:
			{
				// does take care of camera permission!!!
				Intent takePhoto =  new Intent(MediaStore.ACTION_IMAGE_CAPTURE);
				Observable<Boolean> obsPermission = RxPermissions.getInstance(getActivity()).request(Manifest.permission.CAMER

[2016-05-22 16:40] VictorAlbertos commented on #13
You need to call the method `onImageTaken` using the `targetUI()` method, as follows:

`targetUI().onImageTaken()`

This is because this method holds a reference to current valid instance of your fragment or activity.

Try this and let me know.

[2016-05-22 17:00] VictorAlbertos commented on #12
I don't think UCrop library adds too much overhead, even if you are not willing to use it.

Nevertheless, you can exclude the module ucrop explicitly when requesting RxPaparazzo dependency from Graddle.

[code]

Doing that UCrop artifact will be excluded. But be aware that any call to crop method will throw now an exception.

[2016-05-22 18:07] MFlisar commented on #12
Thanks, that's actually enough

[2016-05-22 18:07] #12 closed

[2016-05-22 18:17] MFlisar commented on #13
I am using a helper class and oversaw that and thought I'm passing the activity itself to the function anyway... thanks

[2016-05-22 18:17] #13 closed

[2016-05-24 03:25] Marcellsantoso opened #14 "NoClassDefFoundError Size"
I got this error message when i was trying to pick an image from gallery.
`java.lang.NoClassDefFoundError: Failed resolution of: Lcom/fuck_boilerplate/rx_paparazzo/entities/Size;
`
Please HELP
Thanks!

My code :
[code]

[2016-05-24 06:15] VictorAlbertos commented on #14
Hi @Marcellsantoso

First of all, you must call ` targetUI().getActivity()`, instead of calling `fragment.getActivity()` when supplying the context to Picasso.

 Please try to compile and use the [sample project](https://github.com/FuckBoilerplate/RxPaparazzo/tree/master/app)  (app module), and see how it works and if it works what could be the differences regarding your current project.

Probably

[2016-05-25 15:13] VictorAlbertos commented on #14
Feel free to reopen it whenever you want.

[2016-05-25 15:13] #14 closed

[2016-05-28 11:51] omegasoft7 opened #16 "how can we use UCrop features?"
Hi

There are some features in UCrop lib that i need to use it on my project.
Features like:

UCrop.of(sourceUri, destinationUri)
    .withAspectRatio(16, 9)
    .withMaxResultSize(maxWidth, maxHeight)
    .start(context);

Can we make more options like Size that we have and pass these parameters as well?

[2016-05-28 16:47] VictorAlbertos commented on #16
Hi @omegasoft7

No, it's not possible. You can only change properties defined in the UCrop.Option class. Sorry.

[code]

You can ask to the UCrop authors to add to the UCrop.Options the properties which you need. Or do a PR yourself 👍

[2016-05-28 18:30] omegasoft7 commented on #16
I think I can add this feature to RxPapparazo. Can I try it?

[2016-05-28 18:35] VictorAlbertos commented on #16
It will depend on the resulting Api :)

Can you explain what would be the changes when calling RxPaparazzo?

Now:

[code]

What is your proposal?

[2016-05-29 09:15] omegasoft7 commented on #16
i can add a new builder class for UCrop and call it after .crop(). Something similar with UCrop.Option but it will contain our options.

Similar with other builders it has default value and instead of setting Ucrop like: UCrop.of() we will use this builder.

I hope i could fully explain my idea. :)

[2016-05-29 09:27] VictorAlbertos commented on #16
I think the problem is the intent reference inside the `UCrop` class. How to retrieve its configurations without exposing an intent from RxPaparazzo?

I think you will need to expose an intent when calling RxPaparazzo.crop(intent). But try to implement it and we will se how to adjust the api afterwards ;)

[2016-05-29 09:36] omegasoft7 commented on #16
sure working on it :)

[2016-05-29 13:38] omegasoft7 commented on #16
Done, I just couldnt fully test it on my side. Please let me know if something is not as expected

[2016-05-29 18:36] #16 closed

[2016-05-29 18:40] VictorAlbertos commented on #16
You can now use the requested features:

`compile "com.github.FuckBoilerplate:RxPaparazzo:0.1.2"`

Take a look at the readme with the new info about how to use it ;)

If you are interested in knowing the implementation check this [commit](https://github.com/FuckBoilerplate/RxPaparazzo/commit/2b0c9f6230a775dbeca1ffd9a3fd27c203db6460).

[2016-06-10 14:23] igiagante opened #19 "RxPparazzo retrieves the same images when I select more than one image"
Hi guys, I added this [question](http://stackoverflow.com/questions/37750453/rxpparazzo-retrieves-the-same-images-when-i-select-more-than-one-image) in Stackoverflow. If you need more information, let me know.

I updated the last version, but I'm still having the same issue. I'll appreciate a lot your help. Thanks!

[2016-06-10 16:28] igiagante opened #20 "RxPaparazzo duplicate images when it selects from gallery"
Hi guys,

I would like to know why paparazzo is creating new images when I select images from the gallery. Check the last question to find the stackoverflow's link to see the update. I uploaded a video that shows the duplication.

Thank for fixing the other issue so fast.

[2016-06-10 16:41] VictorAlbertos commented on #19
This issues has been fixed with the [release 0.1.3 ](https://github.com/FuckBoilerplate/RxPaparazzo/releases/tag/0.1.3)

[2016-06-10 16:41] #19 closed

[2016-06-10 16:41] miguelbcr commented on #20
Hi @igiagante!,

I think it should be the right behaviour. Anyway take a look to [this issue](https://github.com/FuckBoilerplate/RxPaparazzo/issues/6) where I explain how the library works and how to deal with duplicate images.

[2016-06-13 02:05] ngheungyu opened #21 "Regarding android.intent.extra.ALLOW_MULTIPLE"
Hi team,

It seems that this settings was not supported in most devices, like this [stackoverflow](http://stackoverflow.com/questions/31002388/android-intent-extra-allow-multiple-allows-only-single-picking)

Which apps would you recommend that honour this setting?

Thanks for this great library!

[2016-06-13 02:06] #21 closed

[2016-06-13 06:54] #20 closed

[2016-06-16 20:02] canberkcakmak opened #22 "Using normal onActivityResult in fragment"
Options options = new Options();
        options.setToolbarColor(ContextCompat.getColor(getActivity(), R.color.colorAccent));
        options.setAspectRatio(500, 500);

 RxPaparazzo.register(this);

Firstly, thanks for perfect library. But, i have a problem with using onActivityResult. I know you dont like this but, my project gives some error with your solution. So how can i get path of image whe

[2016-06-16 22:02] VictorAlbertos commented on #22
HI @canberkcakmak

Sorry, but I can't understand the problem. I'm only can advice you to check the [example](https://github.com/FuckBoilerplate/RxPaparazzo/blob/master/app/src/main/java/com/fuck_boilerplate/rx_paparazzo/sample/fragments/SampleFragment.java) using a fragment.

[2016-06-16 22:02] #22 closed

[2016-06-16 22:08] canberkcakmak commented on #22
I said, you were used this method for get image path : `.subscribe(response -> {
                    if (response.resultCode() != Activity.RESULT_OK) {
                        response.targetUI().showUserCanceled();
                        return;
                    }

                    response.targetUI().loadImage(response.data());
                });`

But i want this method:
`if (requestCod

[2016-06-16 22:14] VictorAlbertos commented on #22
You need to specify previously what component to use. Pick camera or gallery, but you can't use both of them in the same intent call. But again, I'm not sure about the question.

[2016-06-16 22:17] canberkcakmak commented on #22
But it never @Override in onActivityResult. In debug mode, it never returns or enter in this part :
`@Override
    public void onActivityResult(int requestCode, int resultCode, Intent data) {
        if (resultCode == RESULT_OK && requestCode == UCrop.REQUEST_CROP) {
            final Uri resultUri = UCrop.getOutput(data);

        } else if (resultCode == UCrop.RESULT_ERROR) {
            final T

[2016-06-20 05:42] sagartrehan opened #23 "How to save Image in internal storage instead of external storage"
I am using library for selecting user profile image and crop. It's work pretty well for me. But I do not want to take external storage permission from user for saving selected/cropped image.

I just need to save image on temporary basis so if I can save temporary image in internal storage then it would be best for me. As doing this way I can avoid external Storage permission.

Query: Can we have p

[2016-06-20 08:58] miguelbcr commented on #23
Hi @sagartrehan,
We are working on it so I'll tell you something asap.

[2016-06-26 16:25] miguelbcr commented on #23
Hi @sagartrehan,
sorry for the late...

We've released [version 0.1.5](https://github.com/FuckBoilerplate/RxPaparazzo/releases/tag/0.1.5).
Now you can use `.useInternalStorage()` on RxParazzo builder as the same way as `.crop()` or `.size()`

Try it out and let us know if it works for you.

[2016-06-27 06:33] sagartrehan commented on #23
Thanks @miguelbcr for this update to save image in internal storage.
Now can I avoid
<uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
permission from user, If I am using internal storage for saving image?

 I will give it a try today.

Thanks

[2016-06-27 08:00] miguelbcr commented on #23
Hi @sagartrehan,
sorry, I forgot to manage the permissions.

We've released [version 0.1.6](https://github.com/FuckBoilerplate/RxPaparazzo/releases/tag/0.1.6)

Now if you use `.useInternalStorage()` no dialog will be showed to ask you for external storage permissions, in spite of being necessary on RxPaparazzo library declared in [Manifest](https://github.com/FuckBoilerplate/RxPaparazzo/blob/maste

[2016-06-29 13:02] hemb commented on #23
Thanks for this update @miguelbcr,

Just one issue. I want to pick an image from the gallery, but save the result to internal storage. So when `.useInternalStorage()` is used together with `usingGallery()`, RxPaparazzo should still ask for READ_EXTERNAL_STORAGE permission.

[2016-06-29 13:44] miguelbcr commented on #23
Hi @hemb,
thanks!, you are right, sorry, it was my fault by not testing it properly on Android 6.

We've released [version 0.1.7](https://github.com/FuckBoilerplate/RxPaparazzo/releases/tag/0.1.7)
Try it out and let us know if it works for you.

[2016-06-29 14:23] hemb commented on #23
Works like a dream! Thanks!

[2016-07-06 06:45] #23 closed

[2016-07-06 17:33] sagartrehan commented on #13
@VictorAlbertos
I am getting exactly same crash and I here is how I am invoking Fragment method:

[code]

Please let me know if I accessing loadProfileImage() method in wrong way.

[2016-07-06 18:44] VictorAlbertos commented on #13
Can you post the stack trace please?

[2016-07-07 02:03] sagartrehan commented on #13
@VictorAlbertos
Thanks for the quick response. Updated comment with crash stacktrace.

[2016-07-07 05:47] scijoker opened #28 "App crash (pick image/images from GDrive without Crop option)"
App crash after pick images from Google Drive (or any remote storage) without cropping
Logs:
`  java.lang.RuntimeException: Unable to destroy activity {com.fuck_boilerplate.rx_paparazzo.sample/rx_activity_result.HolderActivity}: rx.exceptions.OnErrorNotImplementedException: Attempt to invoke virtual method 'char[] java.lang.String.toCharArray()' on a null object reference

[2016-07-07 06:57] VictorAlbertos commented on #13
Implement the `Subscriber` without calling `getImageSelectorAction`, yes, I'm asking you to duplicate code right now ;)

And let me know.

[2016-07-07 13:37] miguelbcr commented on #28
Thanks @scijoker !
we are working on it.

[2016-07-07 18:43] sagartrehan commented on #13
@VictorAlbertos
I have updated the code as mentioned,  I will test it on my friends device and will provide you feedback.

Thanks

[2016-07-08 12:14] sagartrehan commented on #13
@VictorAlbertos
No Victor doing this not fixed the issue app is still crashing. Please let me know if I can add some hack as of now to fix issue temporarily

[2016-07-10 08:21] VictorAlbertos commented on #13
@sagartrehan, if you can create a repo which isolates the bug and tell me how to reproduce it with an specific android simulator, I'll be able to help you more. Otherwise, I think I can't do much more. Sorry.

[2016-07-11 11:07] miguelbcr commented on #28
Hi @scijoker
We've released [version 0.1.8](https://github.com/FuckBoilerplate/RxPaparazzo/releases/tag/0.1.8) that fixes it.

Try it out and let us know if it works.
Thanks!

[2016-07-14 18:58] kailash09dabhi opened #30 "crashes everytime on returning from gallery/camera intent"
java.lang.RuntimeException: Unable to start activity ComponentInfo{com.withdirect.mobile/rx_activity_result.HolderActivity}: java.lang.NullPointerException
                                                                           at android.app.ActivityThread.performLaunchActivity(ActivityThread.java:2198)
                                                                           at android.app.A

[2016-07-14 20:36] miguelbcr commented on #30
Hi @kailash09dabhi ,
 I'll need a code snippet to see how you are using RxPaparazzo.

[2016-07-15 10:36] shashank090789 commented on #30
same problem with me while using sample app on samsung galaxy duos.

[2016-07-15 13:02] miguelbcr commented on #30
Hi @shashank090789 and @kailash09dabhi ,
I've released [version 0.2.0](https://github.com/miguelbcr/RxPaparazzo/releases/tag/0.2.0)

Sincerely, I don't know if it fixes the error. I've not be able to reproduce the error, but I think it was related with an Ucrop option on the sample app.

Try it out, and let me know if it works for you, If not, I'll appreciate a little more of information about it.

[2016-07-15 13:13] miguelbcr commented on #28
I'm going to close it due to lack of interaction.
Feel free to open it.

[2016-07-22 08:07] miguelbcr commented on #30
Closed due to lack of activity.
Please , feel yourself free to reopen it.

[2016-07-22 08:07] #30 closed

[2016-08-09 20:07] sagartrehan commented on #30
I am getting same error. I am updating the library version and let you now if get same crash again.

[2016-08-22 14:02] ramanbranavitski opened #32 "Different error codes for denied permissions."
It would be great if you add different resultCode when user denied permission with checked "Do not ask again" or not. I know that it issue most suitable for RxPaparazzo, but may be you can add this feature locally.

[2016-08-22 14:17] miguelbcr commented on #32
Hi @ramanbranavitski !
If you don't mind,  you could do a Pull Request with this feature.

[2016-08-23 05:03] sagartrehan commented on #28
Getting following crash again and again:

Fatal Exception: java.lang.RuntimeException: Unable to start activity ComponentInfo{com.smallcircles/rx_activity_result.HolderActivity}: java.lang.NullPointerException: Attempt to invoke virtual method 'rx_activity_result.OnResult rx_activity_result.Request.onResult()' on a null object reference
       at android.app.ActivityThread.performLaunchActivity(Ac

[2016-08-23 06:44] miguelbcr commented on #28
Hi @sagartrehan !
Are you using sample app?
If yes, tell me in which option do you get the error.
If not, copy your code here.

Also I'll need Android version and device model to try get a close scenario to reproduce the bug because I wasn't capable to reproduce it.

[2016-08-23 08:55] sagartrehan commented on #28
@miguelbcr

Sure I will share all details once I reached home. Thanks for the Support :)

[2016-08-24 20:57] crowelch opened #34 "Crash when opening camera on 7.0+ devices"
While running on 7.0+ and targeting API level 24

```Unable to start activity ComponentInfo{com.example.app/rx_activity_result.HolderActivity}: android.os.FileUriExposedException:file:///storage/emulated/0/Android/data/com.example.app/cache/shoot.jpg exposed beyond app through ClipData.Item.getUri()```

https://developer.android.com/reference/android/os/FileUriExposedException.html

[2016-08-25 15:41] sagartrehan commented on #28
Hi @miguelbcr

Following crash is not getting reproduced on my device. But it's reproducing constantly on device that tester is using. I am not having access to his device.

I forward him sample app and it is working properly on his device without any crash!

I am using following codebase for capturing image from camera or gallery:

[code]

I tried catching exception but it didn't work. Since the

[2016-08-25 16:30] ramanbranavitski opened #35 "Resize image to custom size."
It will be very fine if you add possibility to resize image to any custom size. Now, you have such possibility. The most suitable size now is Screen, but if we use app on tablets and phones this size type is not exactly what users of this library want. I create pull request for this feature.

[2016-08-26 06:18] ramanbranavitski commented on #32
@miguelbcr created issue for RxPermissions. They will implement this feature.
https://github.com/tbruyelle/RxPermissions/issues/68

[2016-08-26 06:57] miguelbcr commented on #28
Hi @sagartrehan,
I've not tested your code but it looks right. Only 3 things:

- The try-catch can be removed because probably it will be thrown on your `Subscriber.onError()` method, where you can put `e.printStackTrace()` .Only the `catch` will be reached if your `loadProfileImage()` crashes.

- Remove `.crop(options)` and try again.

- Does the sample app work fine on  Motorola G-2 - 6.0?

[2016-08-26 07:04] #35 closed

[2016-08-26 08:02] ramanbranavitski commented on #35
So, how can I use updated version of library?

2016-08-26 10:04 GMT+03:00 miguelbcr <notifications@github.com>:

[2016-08-26 08:07] miguelbcr commented on #35
Ready new [release 0.2.1](https://github.com/miguelbcr/RxPaparazzo/releases/tag/0.2.1) !

[2016-08-26 08:24] ramanbranavitski commented on #35
Thanks)

2016-08-26 11:07 GMT+03:00 miguelbcr <notifications@github.com>:

[2016-08-30 04:29] sagartrehan commented on #28
Hi @miguelbcr

1. I agree with your first point I have removed try catch block from code.
2. Crash is not occurring on my device but on tester device. I shared a build with him by removing .`crop(options)`. I will let you know once I get feedback from him.
3. Yes sample app works properly for him on Motorola G-2 6.0.

Thanks

[2016-08-30 06:38] hemb commented on #34
Yes, same problem here. Temporary workaround is to set targetSdkVersion to 23.

[2016-08-30 07:04] miguelbcr commented on #34
thanks to both of you!.
 I'll take a look this week

[2016-08-31 07:21] sagartrehan commented on #28
Hi @miguelbcr

I shared build with tester by disabling the crop options and now he is not getting any crash. So the issue is with crop option only. Since this crash is not reproducing on all devices so let me know if I can add a particular hack to fix the issue, since I have no other option as of now.

[2016-08-31 08:01] miguelbcr commented on #28
I think it's related with the crop options but I'm not sure, so try to use .crop() instead .crop(options) and let me know if it still works.
Anyway I'll take a look this weekend or next week.

[2016-08-31 09:27] GediminasZukas opened #36 "Proguard rules"
I am using proguard in my project. What kind of proguard rules should I add in my proguard file to avoid all the warnings and crashes? Can you include description in library readme file?

Currently I am getting such crash when using RxPaparazzo with proguard:

[code]

[2016-08-31 09:38] miguelbcr commented on #36
Hi @GediminasZukas ,
sorry but now I don't use Proguard so I don't know what rules would work.

You can try something like this:
`-keep class com.fuck_boilerplate.rx_paparazzo.** { *; }`

If you find out something let me know to add it to README. I'll do the same

[2016-08-31 10:25] sagartrehan commented on #28
Thanks @miguelbcr, I will try by removing the options from crop(option) and let you know know.

[2016-08-31 11:39] GediminasZukas commented on #36
@miguelbcr , seems I found the solution. The problem is not with RxPaparazzo itself but with its dependency (RxJava).

I just integrated this project into mine and everything works well: https://github.com/artem-zinnatullin/RxJavaProGuardRules

Alternatively, it is possible to add these lines in proguard file and everything seems to work (as far as I tested):

[code]

[2016-08-31 11:47] miguelbcr commented on #36
Thank you very much @GediminasZukas !

I'm going to add those lines to README.

[2016-09-03 12:10] miguelbcr commented on #28
Hi @sagartrehan !
I've released [version 0.2.2](https://github.com/miguelbcr/RxPaparazzo/releases/tag/0.2.2)
I've updated gradle libraries, exactly [RxActivityResult version](https://github.com/VictorAlbertos/RxActivityResult/releases/tag/0.3.5), which could be related with this crash.

Try it out and let me know if it works, Also you could try to use crop options

[2016-09-04 13:07] sagartrehan commented on #28
Thanks @miguelbcr I have updated the library. I will let you know once I get response from tester.

[2016-09-04 14:14] miguelbcr commented on #34
Hi @crowelch and @hemb !
I've released [version 0.2.3](https://github.com/miguelbcr/RxPaparazzo/releases/tag/0.2.3).

Try it out and let me know if it works

[2016-09-04 15:19] hemb commented on #34
Hi @miguelbcr!

Thank you for taking your time to look at it! The good news: I don't get the FileUriExposedException anymore. The bad: I still doesn't work

I'm using the following utility method. With Source.GALLERY I get a Response with RESULT_CANCELED after cropping the image and with Source.CAMERA it crashes before showing the camera UI. [trace.txt](https://github.com/miguelbcr/RxPaparazzo/fil

[2016-09-04 15:27] miguelbcr commented on #34
Hi @hemb!
Thanks , just I've got the same error when I've integrated it on my app. You can try [version 0.2.4](https://github.com/miguelbcr/RxPaparazzo/releases/tag/0.2.4) that solves that crash but I doesn't works properly, it doesn't close camera after accept the image,

I'm trying to solve it ... sorry for the inconvenience

[2016-09-04 16:50] miguelbcr commented on #34
Hi @hemb !
try [version 0.2.5](https://github.com/miguelbcr/RxPaparazzo/releases/tag/0.2.5) and let me know if it works...

Thanks

[2016-09-04 18:13] hemb commented on #34
Yep, working fine now. Thanks again for a nice library!

[2016-09-04 18:19] #34 closed

[2016-09-06 06:48] miguelbcr opened #41 "Delete temp images"
Duplicated images are saved on your <app name> folder on external storage

[2016-09-06 17:22] #41 closed

[2016-09-06 18:55] MostafaEbrahimi opened #43 "without lambda expression"
I have problem with java 8 in my android studio.
how can i use your lib in jdk 1.7 ?

[2016-09-06 19:43] miguelbcr commented on #43
Hi @MostafaEbrahimi !,
The lib doesn't use lambda expressions but the sample app use them.

So, is your problem compiling the sample app or using the lib in your app?

Anyway I think it would be best for you to try to run java 8 in AS

[2016-09-07 17:11] sagartrehan commented on #28
Thanks @migulelbcr crash is fixes now. Issue is not getting reproduced. Thanks for help.

[2016-09-07 17:18] miguelbcr commented on #28
I'm glad to hear that ;)
You can try the [version 0.2.6](https://github.com/miguelbcr/RxPaparazzo/releases/tag/0.2.6) out.
That version fixes some issues and also works on API 24 (Android 7)

[2016-09-07 17:18] #28 closed

[2016-09-08 06:29] sagartrehan commented on #28
Sure I will update the library version. Thank you

[2016-09-14 11:04] #36 closed

[2016-09-14 11:04] #43 closed

[2016-09-14 13:57] miguelbcr opened #44 "Deleted original image when crop() option was not used"
sorry for the inconvenience ...

[2016-09-14 13:57] miguelbcr opened #45 "Added support for PNG files"

[2016-09-14 14:08] #44 closed

[2016-09-14 14:09] #45 closed

[2016-09-14 20:14] crowelch commented on #34
Works great, thanks for the fix!

[2016-09-17 07:37] MostafaEbrahimi commented on #43
problem solved.thanks

[2016-09-20 05:19] milan-milojevic opened #46 "What is the reason for including the "Access Camera" permission?"
Curious why the library is asking for the Camera permission, as this might put some people off.

[2016-09-20 09:03] miguelbcr commented on #46
Hi @milan-milojevic !,
because RxPaparazzo can use both, gallery and camera, in order to get the image.
But in spite of asking you for permissions you could deny all of them forever by checking the option "No asking again" which appear the second time the popup is shown.

If it is not what you are asking for, please ask me again

[2016-09-20 09:23] milan-milojevic commented on #46
Hi @miguelbcr

Thanks for the response, I am aware of that, and was referring to something else. As you can find in the official documentation:

[code]

Therefore, since RxPaparazzo can also use the gallery, I would rather it does not filter out all devices that do not have a camera (which it currently does). Also:

[code]

Since RxPaparazzo uses the default camera intent, there is no specific rea

[2016-09-20 10:03] miguelbcr commented on #46
Hi @milan-milojevic,

my mistake... you are right!

I've removed camera permission and I've tried it out on Android 6 and 7 and it works fine.
Thanks for you report.

I've released [verseion 0.2.8](https://github.com/miguelbcr/RxPaparazzo/releases/tag/0.2.8).
You can try it out and let me know.

[2016-09-20 10:06] milan-milojevic commented on #46
That's great to hear! Will do! I also wanted to check if you could update uCrop as they released a new version which dramatically reduces the APK size:

[code]

so `compile 'com.yalantis:ucrop:2.2.0'` would be great to have in another update!

[2016-09-20 10:43] miguelbcr commented on #46
Hi @milan-milojevic,

Thanks again!,
I've released [version 0.2.9](https://github.com/miguelbcr/RxPaparazzo/releases/tag/0.2.9)
It's awesome how the final apk size is reduced

[2016-09-25 04:25] haydarai opened #47 "Using Camera and Gallery at the same time"
Is there any way to make this library working with camera and gallery at the same time? So the user can choose whether to use camera or gallery, without having me to create the condition if the user want to use camera, or want to use gallery.

Thanks, your library really helps me.

[2016-09-25 07:43] miguelbcr commented on #47
Hi @haydarai !,

I think you mean this:

you have to create a dialog and show both options, for instance:

[code]

where `launchCamera()` would be something like this:

[code]

and `launchGallery()` :

[code]

[2016-09-29 04:45] tobibo opened #48 "Allow to use gallery without Intent.CATEGORY_OPENABLE"
Hi there,

great work on the library guys. I ran into an issue though where would like to access images from my photos.google.com linked to my android account. They appear in the documents intent but just not with this library.

As i understand this does not work because you add the flag Intent.CATEGORY_OPENABLE in PickImages.java

`

        private Intent getFileChooserIntent() {

[2016-09-29 10:35] miguelbcr commented on #48
Hi @tobibo ,

I was trying it but I'm not able to see that option when I pick an image in spite of install Google Photos as you can see at this [snapshot](http://puu.sh/rrFQ0/4ca08d303e.png)

Could you show me what appears to you?

[2016-09-29 11:22] tobibo commented on #48
Oh ok, i was using a different library which is using the intent like so
`
        Intent intent = new Intent(Intent.ACTION_GET_CONTENT);
        intent.setType("image/*");
`

and it was showing google photos, looks similar to what you do in the if statement above
`
    if (Build.VERSION.SDK_INT < Build.VERSION_CODES.KITKAT) {
`

[2016-09-29 11:43] miguelbcr commented on #48
ok, thanks,  now it appears forcing `Intent.ACTION_GET_CONTENT`, and it works fine, but I have a problem, if I put `Intent.ACTION_GET_CONTENT` doesn't appear Gdrive option, which appear using `Intent.ACTION_OPEN_DOCUMENT`.

So I have to think how to address it, maybe with another config option...

[2016-09-29 11:43] tobibo commented on #48
It this library, unfortunatelly it doesn't work so well with rxjava and some other things are nt quite right.
https://github.com/jkwiecien/EasyImage/blob/master/library/src/main/java/pl/aprilapps/easyphotopicker/EasyImage.java

[2016-09-29 11:44] tobibo commented on #48
Ah ok, I didn't realise that. I have a think about it myself.

[2016-09-29 11:48] tobibo commented on #48
For me it actually shows drive as well as other options like dropbox and onedrive, just tested it on a galaxy s6 running 6.0.1, could be platform/manufactur specific

[2016-09-29 11:54] miguelbcr commented on #48
Yeah, it could be, I've tested it on Galaxy S3 4.4 and only appears Google Photos and Gallery with `Intent.ACTION_GET_CONTENT` and Documents, Recents, Downloads, Images, Gdrive, SD card with `ntent.ACTION_OPEN_DOCUMENT`

So, maybe finally I'll add an extra config option o choose which intent to use.

[2016-09-29 14:36] miguelbcr commented on #48
Related commit: 9011d41fa147d575c2097fff9c367ce2858d0dfc

Finally I've decided to use `intent.setAction(Intent.ACTION_GET_CONTENT);` for all.

I've released [0.3.0 version](https://github.com/miguelbcr/RxPaparazzo/releases/tag/0.3.0) . Try it out and let me know if it works fine.

I've realized that with Google Photo I can't pick multiples images in spite of being able to select several pics, so o

[2016-09-29 21:17] tobibo commented on #48
Thanks that was very quick, i have a look soon.

[2016-09-29 21:36] tobibo commented on #48
Looks good! Great job!

[2016-10-02 12:12] tobibo commented on #48
I actually just notice when i try to get a photo from google photos i get this exception:

Permission Denial: reading com.google.android.apps.photos.contentprovider.MediaContentProvider

There is a fix explained here, i am not exactly sure where the image gets copied in the library. Any thoughts?

[2016-10-02 13:38] miguelbcr commented on #48
I managed to reproduce the error, I think it is because of [temporary read permissions](http://stackoverflow.com/a/31274622/5502014).

In the library the image gets copied in [DownloadImage class](https://github.com/miguelbcr/RxPaparazzo/blob/3bddf402088db7c3d3183e0838a59eab8fc1714f/rx_paparazzo/src/main/java/com/fuck_boilerplate/rx_paparazzo/interactors/DownloadImage.java) within [GetPath class](

[2016-10-05 20:10] miguelbcr commented on #48
Hi @tobibo ,
I've released [version 0.3.1](https://github.com/miguelbcr/RxPaparazzo/releases/tag/0.3.1) which solves the problem with temporary permissions.

Try it out and let me know if it solves your problem.
Thanks.

[2016-10-05 20:10] #47 closed

[2016-10-05 21:45] tobibo commented on #48
Great job @miguelbcr, it works perfect. Thanks for the quick turn around.

[2016-10-06 08:19] haydarai commented on #47
Cool, thanks!

[2016-10-09 08:58] hemb commented on #46
@miguelbcr, @milan-milojevic Are your sure the camera permission isn't needed?

With `usingCamera()` I get:

```java.lang.RuntimeException: Unable to start activity ComponentInfo{se.maitres/rx_activity_result.HolderActivity}: java.lang.SecurityException: Permission Denial: starting Intent { act=android.media.action.IMAGE_CAPTURE flg=0x3 cmp=com.android.camera2/com.android.camera.CaptureActivity cl

[2016-10-09 09:03] hemb commented on #46
Ok, I tried removing the camera permission from my manifest and now it's working. But I need the camera permission for other functionality in my app, so it would be great if RxPaparazzo could handle that situation as well.

[2016-10-09 09:23] hemb opened #49 "Crash/exception when using size option"
When picking an image from the gallery, some images throw an IOException when using the size option, e.g. `RxPaparazzo.takeImage(activity).usingGallery().size(new CustomMaxSize(500));`

[code]

Looks like they had the same problem in the uCrop library. https://github.com/Yalantis/uCrop/issues/184

[2016-10-09 12:05] #48 closed

[2016-10-09 13:03] miguelbcr commented on #49
Hi @hemb,
thanks for the issue, it seems to be related with non JPG images and ExifInterface.saveAttributes(), which only supports JPG files

Try [version 0.3.2](https://github.com/miguelbcr/RxPaparazzo/releases/tag/0.3.2) out and let me know if it works

[2016-10-09 13:07] miguelbcr commented on #46
Hi @hemb,

thank for  your comment. I've seen [this post](http://stackoverflow.com/a/32856112/5502014) which explains that weird behaviour on devices with API >= 23

Try [version 0.3.2](https://github.com/miguelbcr/RxPaparazzo/releases/tag/0.3.2) out and let me know if it works

[2016-10-09 19:36] hemb commented on #49
@miguelbcr Yes, fixed in 0.3.2. Thanks!

[2016-10-09 19:37] hemb commented on #46
@miguelbcr It's working now in 0.3.2. Thanks for the quick response!

[2016-10-10 06:42] #49 closed

[2016-10-10 06:43] #46 closed

[2016-10-13 07:08] ZeRoGerc opened #50 "Doesn't work with facebook sdk on API 19"
If you include facebook sdk in project on android API 19 you get the following stacktrace while trying to perform register(this):

`0-12 17:20:34.161 16729-16729/com.zeroger.application E/dalvikvm: Could not find class 'rx_activity_result.RxActivityResult$Builder', referenced from method rx_activity_result.RxActivityResult.on
10-12 17:20:34.171 16729-16729/com.zeroger.application E/dalvikvm: Could

[2016-10-13 17:20] miguelbcr commented on #50
Hi @ZeRoGerc !
I've tried to reproduce the error but I haven't been able.

I've added these lines to gradle:
[code]

and this to my Application class:

[code]

and I've launched the app on a device with API 19 and it hasn't crashed.

Please tell me if my sample app is correct or not. Anyway you could upload a sample app where the crash can be reproduced

[2016-10-13 19:14] ZeRoGerc commented on #50
Check this app. It works correctly when I exclude facedook sdk
https://github.com/ZeRoGerc/android-experiments/tree/rxpaparazzio

[2016-10-13 22:48] miguelbcr commented on #50
Hi @ZeRoGerc ,
I've tested the app and it crashes, indeed.

But I've seen that you have a lot of libraries in your `buil.gradle` which make that your `apk ` has a lot of methods, exactly `Total methods count: 66305 ` , so when it overtakes 64k you have to use [multidex](https://developer.android.com/studio/build/multidex.html) .

As far as I know, the problem is not related with `RxPaparazzo` but

[2016-10-14 05:34] ZeRoGerc commented on #50
I've forgot that on pre-lolipop it needs to invoke MultiDex.install(this) =)
Thanks.

[2016-10-14 05:34] #50 closed

[2016-10-18 18:51] ReginFell opened #51 "Rxjava 2 support"
Is there plans to implement rxjava 2 support?

[2016-10-18 18:54] miguelbcr commented on #51
Hi @ReginFell ,
yes, soon :), but lately I'm a bit busy.
Sorry.

[2016-10-31 04:15] namezhouyu opened #52 "how to multiple choice"

[2016-10-31 06:37] miguelbcr commented on #52
Hi @namezhouyu ,

you shold call to **takeImages()**:

[code]

but keep in mind that prior to API 18, only one image will be retrieved.

[2016-10-31 07:16] namezhouyu commented on #52
Thinks for your answer, but i can not select multiple images ,the "response.data().size()" always be 1.
Test in samsung SM-N910K (api 23).

[2016-10-31 07:27] miguelbcr commented on #52
Sorry, I forgot to tell you that you have to click by a long press the first image and then you will be able to select other ones by clicking. This is he normal Android behaviour. I don't know if you were aware of this, otherwise I don't know what is wrong. Have you been able to select several images with other apps, such as the native Gallery app?

[2016-10-31 07:41] namezhouyu commented on #52
Native Gallery is okay, but the demo can not.Maybe the phone system is not google native android.
Anyway, thinks.

[2016-10-31 07:48] miguelbcr commented on #52
Thats very weird, because RxPaparazzo delegates the pick images action to third parties apps like native Gallery, among others, so maybe it is related with the app you are trying to pick up the images. I remember, for example, that Google Photos or Google Drive app, I can't remember exactly, only could pick up a single image in spite of call to takeImages().

[2016-10-31 08:18] namezhouyu commented on #52
Thinks

[2016-10-31 08:20] miguelbcr commented on #52
thinks or thanks? :)

[2016-10-31 08:20] namezhouyu commented on #52
sorry,thanks  haha

[2016-10-31 08:22] #52 closed

[2016-11-22 12:00] miguelbcr commented on #51
Hi @ReginFell !
I've released [version 0.4.1-2.x](https://github.com/miguelbcr/RxPaparazzo/releases/tag/0.4.1-2.x) with support for rxJava2.

If you find something wrong let me know.

[2016-11-24 19:01] ReginFell commented on #51
Thanks a lot!

[2016-11-24 19:01] #51 closed

[2016-11-25 12:26] ramanbranavitski commented on #32
Hi @miguelbcr, they've implemented this feature. Can you add it into your project?

[2016-11-25 13:03] miguelbcr commented on #32
Hi @ramanbranavitski !
I'll try to do this this weekend.

[2016-11-25 13:07] ramanbranavitski commented on #32
It will be great. Thank you. Let me know about your result.

[2016-11-27 13:03] miguelbcr commented on #32
Hi @ramanbranavitski ,
Ive released versions [0.4.2](https://github.com/miguelbcr/RxPaparazzo/releases/tag/0.4.2) and [0.4.2-2-x](https://github.com/miguelbcr/RxPaparazzo/releases/tag/0.4.2-2.x)

The commits related are (I made a mistake referenced the issue when I commited them):
RxJava1 > 8d37b80347ea904f6fd3ca7d2bd872414b33f8dd
RxJava2 > acfdd2ac910d34897a1b4a4fdcdc15028ee6e803

Try it out and

[2016-11-27 14:16] ramanbranavitski commented on #32
Hi, @miguelbcr. I've tested new version of library. Works as expected. Thank you very much.

[2016-11-27 14:16] #32 closed

[2016-12-15 23:45] bms270 commented on #43
How would you use the library without Lambda expression?

[2017-01-17 00:31] 452MJ opened #54 "java.lang.NoSuchMethodError: com.tbruyelle.rxpermissions2.RxPermissions.getInstance"
I found RxPaparazzo2 is still use RxPermission with an old version to get RxPermission instance.

[code]

[2017-01-17 09:02] miguelbcr commented on #54
Hi @452MJ ,
this is because RxPaparazzo is using RxPermissions 0.9.x and rxPaparazzo2 is using RxPermissions 0.8.x , where constructors are differents, and maybe it came into conflict with your RxPermissions version (if you are using the newest one)

Anyway I've released [0.4.3](https://github.com/miguelbcr/RxPaparazzo/releases/tag/0.4.3) and [0.4.3-2.x](https://github.com/miguelbcr/RxPaparazzo/re

[2017-01-18 00:44] 452MJ commented on #54
@miguelbcr  (^o^)YES!The project runs perfectly, thanks for your work!

[2017-01-18 07:48] #54 closed

[2017-01-23 16:33] Yazon2006 opened #56 "Losing data with horizontal camera"
I've just tested RxPaparazzo on Samsung Galaxy Note 2 and found an issue on activity orientation change. When device starts camera in horizontal orientation my activity also turns and destroys. When callback returns it leads to the destroyed activity. I decided to keep my activity alive on orientation change and used dirty hack android:configChanges="keyboardHidden|orientation|screenSize" because

[2017-01-24 09:56] Tadas44 opened #57 "Missing onError handling while dealing with java.io.FileNotFoundException"
RxPaparazzo version `0.4.3`

[code]

[2017-01-24 12:01] miguelbcr commented on #56
Hi @Yazon2006 ,
Have you experience that behaviour with RxPaparazzo samples or with your app?

[2017-01-24 12:45] Yazon2006 commented on #56
@miguelbcr Good question.) I tried sample app and it does not have such issue.

[2017-01-25 10:09] miguelbcr commented on #57
Hi @Tadas44,
Thanks for the report!

I've released version [0.4.4](https://github.com/miguelbcr/RxPaparazzo/releases/tag/0.4.4) and [0.4.4-2x](https://github.com/miguelbcr/RxPaparazzo/releases/tag/0.4.4-2.x)

Let me know if it works for you.

[2017-01-25 11:09] Tadas44 commented on #57
Thanks, I'll let you know if same issue occurs

[2017-01-25 11:09] #57 closed

[2017-01-26 14:06] renegens opened #58 "Memory Leak Media Scanner Connection"
Has anybody encountered that LeakCanary is complaining about memory leaks? This happens when rxPaparazzo is used on an Activity, when used on fragment I don't see any leaks.  Below is what I am using the take either a picture or retrieve from gallery.

[code]

[2017-01-30 04:33] IlyaGulya opened #59 "NullPointerException when uri in Intent is null"
Hello!
Recently I've noticed such issue:
[code]
Seems like sometimes image picker can return RESULT_OK, but not return actual data in intent.

[2017-01-30 04:45] IlyaGulya opened #61 "NullPointerException in GetPath"
Hi!
Seems like sometimes we can miss reference to target activity or fragment (i think when we are trying to pass result to detached fragment, for example)
[code]

[2017-01-30 09:47] miguelbcr commented on #61
Hi @IlyaGulya ,
do you know why it's happening?
It seems to be related to #56 in somehow

[2017-01-30 10:08] IlyaGulya commented on #61
@miguelbcr Sorry, I've tried to reproduce this issue without success. This is a crash report from Crashlytics.

[2017-01-30 10:35] miguelbcr commented on #56
Hi @Yazon2006 ,
Have you figure out something?

[2017-01-30 11:27] Yazon2006 commented on #56
@miguelbcr I decided to leave android:configChanges="keyboardHidden|orientation|screenSize" on my activity as I haven't time to investigate this issue. As I said that your sample app works good. So that's why I think the problem is in my part of code. You can close issue. I'll back to that project later and if it necessary will reopen this thread.

[2017-01-30 11:43] #56 closed

[2017-02-02 20:11] #61 closed

[2017-02-02 20:14] #59 closed

[2017-02-02 20:21] miguelbcr commented on #61
Hi @IlyaGulya,
I've released [version 0.4.5](https://github.com/miguelbcr/RxPaparazzo/releases/tag/0.4.5)

Thanks!

[2017-02-07 00:27] JamesMcIntosh commented on #58
A quick Google pulls up this commit in LeakCanary, it says that there is a problem with the MediaScannerConnection.scanFile() which fails to clean up the reference to the Context by not disconnecting properly. I'm not sure why they have version limited the bug as it's not fixed.

https://github.com/square/leakcanary/pull/111/files
https://code.google.com/p/android/issues/detail?id=173788

The sugg

[2017-02-07 20:56] JamesMcIntosh commented on #58
After a little more reading I've changed it to use the Intent.ACTION_MEDIA_SCANNER_SCAN_FILE on the PR since we don't require any callback.
https://github.com/miguelbcr/RxPaparazzo/pull/53/commits/4aa9517c40618e4f774bb8e30ca98b81f160e772

[2017-02-23 21:31] renegens commented on #58
@JamesMcIntosh Have you confirmed that this stops the leak?

[2017-02-23 22:58] JamesMcIntosh commented on #58
Using an Intent stops the leak because the App no longer directly interacts with the media scanner

[2017-02-23 23:11] renegens commented on #58
@miguelbcr could you clarify if this will be added in the next release?

[2017-02-25 08:56] miguelbcr commented on #58
Hi @renegens,
yes. it will be added

[2017-03-01 10:45] miguelbcr commented on #58
Hi @renegens ,
we've released [version 0.5.1-2x](https://github.com/miguelbcr/RxPaparazzo/releases/tag/0.5.1-2x) which solves this issue.
Note that this new version add picking file functionality and API has been redesigned, so take a look to [README.md](https://github.com/miguelbcr/RxPaparazzo/blob/2.x/README.md)
Let us know if it works for you.

[2017-03-01 14:48] renegens commented on #58
Hello @miguelbcr

Thanks for getting back to me. I am unable to check if is working  beacuse I am on RxJava v1 and I am getting some weired conflicts. Will you add a v1 version of this?

[2017-03-01 16:48] miguelbcr commented on #58
Hi @renegens,
I've released [0.4.7 version](https://github.com/miguelbcr/RxPaparazzo/releases/tag/0.4.7) which solves this issue.
Check it out.

By the way, I don't know if you are aware of [RxJava2Interop](https://github.com/akarnokd/RxJava2Interop) which allows convert between RxJava 1.x and 2.x reactive types, so you could use both RxJava 1.x and 2.x on the same chain.

[2017-03-01 17:54] renegens commented on #58
@miguelbcr thanks for acting so quick. The initial leak went away but I am getting still a leack. I am attaching the leak canary analysis. The question now is again, who's code is problematic :P.

Btw I saw the Interpro sounds good. So you basically add  RxJava 2 and although you have rxjava observables you can subscribe to them in RxJava 2 manner and wrap them in disposables?

`In com.globyworks.

[2017-03-01 20:09] miguelbcr commented on #58
Hi @renegens,
Regarding to your question about RxJava2Interop, I think so, but sincerely, I've only used it once.

And regarding the leak it could be related with [getPath](https://github.com/miguelbcr/RxPaparazzo/blob/master/rx_paparazzo/src/main/java/com/miguelbcr/ui/rx_paparazzo/interactors/PickImage.java#L64) instance that keeps a instance of [targetUi](https://github.com/miguelbcr/RxPaparazzo

[2017-03-01 21:25] renegens commented on #58
Yes you are correct. I believe that the memory leak is not related to this library but actually to RxActivity which has a static reference to the HolderActivity which has the response.  Apart from that, I have trouble adding the v2 library of paparazzo. Any thoughts on that or should I open a new issue?

<img width="497" alt="screen shot 2017-03-01 at 23 16 44" src="https://cloud.githubusercontent

[2017-03-01 21:32] JamesMcIntosh commented on #58
Which repository are you trying to resolve it from?

If you use JitPack it is available - https://jitpack.io/#miguelbcr/RxPaparazzo

If you are building the branch locally and running ./gradlew rx_paparazzo:install to publish into your local maven repository there is a small bug, the version number is "2.x-agrimap", I will make a PR to fix that.

[2017-03-01 21:35] JamesMcIntosh commented on #58
I see the problem now. In the docs the version is 0.5.1-2.x where the actual published version is 0.5.1-2x

[2017-03-01 21:38] renegens commented on #58
@JamesMcIntosh yeap that's it. I think I need new glasses :P or just call it a day :)

[2017-03-01 22:04] miguelbcr commented on #58
Sorry, it was my mistake... :)
I've released [0.5.2-2.x](https://github.com/miguelbcr/RxPaparazzo/releases/tag/0.5.2-2.x)

[2017-03-02 08:50] renegens opened #64 "Example on FileProvider"
On the RxJava 2 branch the FileProvider is being used. When adding a custom file_provider there is no clear documentation how to obtain the file_provider

Using this in the builder object is not working:
`.setFileProviderAuthority((BuildConfig.APPLICATION_ID + ".file_provider")`

`Failed to find configured root that contains /data/data/com.globyworks.citykey.debug/files/RxPaparazzo/PHOTO-20170302_

[2017-03-02 08:51] renegens commented on #58
Thanks for all the help and work @JamesMcIntosh, @miguelbcr

[2017-03-02 08:51] #58 closed

[2017-03-02 22:01] yakot93 commented on #64
I found a solution. You need to add it
[code]
in manifest.xml and create [here](https://github.com/miguelbcr/RxPaparazzo/blob/master/rx_paparazzo/src/main/res/xml/rx_paparazzo_file_paths.xml) such xml resource/

[2017-03-02 22:06] renegens commented on #64
@yakot93 Yeah I have already done that.

[2017-03-03 10:14] miguelbcr commented on #64
Hi @renegens,
you should use `RxPaparazzo.Builder.setFileProviderAuthority(String authority)` if your `android:authorities="${applicationId}.file_provider"` is not `file_provider"`

and you should use `RxPaparazzo.Builder.setFileProviderPath(String path)` if your `path` in `<files-path name="RxPaparazzoImages" path="RxPaparazzo/"/>` is not `RxPaparazzo`

I think you forgot to add `.setFileProvider

[2017-03-03 11:33] renegens commented on #64
Hello @miguelbcr
You are correct, my authorites was `android:authorities="${applicationId}.file_provider"` but I hadn't set the File provider path.

[2017-03-03 11:33] #64 closed

[2017-03-17 04:43] gubaju opened #65 "Is there a way to change the file name of captured Image ?"
I need to be able to change file name.

[2017-03-17 07:46] miguelbcr commented on #65
Hi @gubaju ,
Since you have the file on your subscribe method you could rename it, but internally we have to keep the date format in order not override the files.

[2017-04-10 13:58] chemickypes opened #66 "TargetUI reference with Exception"
there is any way to get TargetUI reference on case of Error? Or, there is any way to create own Exceptions?

[2017-04-11 07:23] miguelbcr commented on #66
Hi @chemickypes ,
Currently is not possible to get TargetUI when an error happened because the original exception is simply propagated, except when is an UserCanceledException or PermissionDeniedException which are created internally in order to detect both scenarios within the chain and then return a normal response by adding a response code to detect those scenarios. (see [Worker class](https://

[2017-04-14 14:54] eliasbagley opened #67 "Setup instructions broken."
Setup instructions seem broken to me. Gradle fails to resolve the library

[2017-04-14 16:43] miguelbcr commented on #67
Hi @eliasbagley ,

I've just created a sample  project and it works fine.

Could you paste your compile statements you have used and the error output?

[2017-04-14 20:11] eliasbagley commented on #67
I think the problem was I was putting the jitpack url in the app's build file, rather than the project build file. Thanks!

[2017-04-14 20:11] #67 closed

[2017-04-14 21:25] eliasbagley opened #68 "Builder has private access"
Hey, I'm trying to change the file provider name, and the docs say to use `RxPaparazzo.Builder.setFileProviderAuthority(String authority)`, which has private access in the `RxPaparazzo` class. How can I do this?

[2017-04-15 10:01] miguelbcr commented on #68
Hi @eliasbagley ,
it's public, you can see in [RxPaparazzo class](https://github.com/miguelbcr/RxPaparazzo/blob/2.x/rx_paparazzo/src/main/java/com/miguelbcr/ui/rx_paparazzo2/RxPaparazzo.java#L94) .

`Builder` was refering to `single()` or `multiple()`. Here you have an example:

[code]

[2017-04-16 23:54] eliasbagley commented on #68
Ah I see, I didn't realize it was something you needed to set each time. I was expecting there to be some sort of builder for `RxPaparazzo.register()`. It would be nice to have the ability to set a default file provider path other than "RxPaparazzo"

[2017-04-22 06:22] mradzinski opened #69 "Do we really need to provide an activity or a fragment?"
Hey Miguel, quick question over here: Is it truly needed to provide an activity or a fragment to RxPaparazzo? Shouldn't it suffice to provide an application context or a context itself? I understand you use the activity/fragment in the subscription, but as an example, If someone tries to use RxPaparazzo on a presenter (MVP), then the presenter would need to be aware of the Activity, thus breaking

[2017-04-22 08:18] miguelbcr commented on #65
Closed by inactivity.
Feel yourself free to reopen it.

[2017-04-22 08:18] #65 closed

[2017-04-22 10:37] miguelbcr commented on #69
Hi @mradzinski !
Thanks! it was also an effort of @VictorAlbertos  and @JM-Agrimap

According to doc and [RxActivityResult](https://github.com/VictorAlbertos/RxActivityResult) we have that:

Regarding to MVP pattern, you could delegate RxPaparazzo's launching to the Activity/Fragment  in this way:

[code]

so the `Activity` will implement those methods such as:

[code]
and the presenter will inter

[2017-04-22 14:55] mradzinski commented on #69
Do'h! The obviousness of my question escapes my own understanding! in my defense: It was 3:00 AM 😂 . Closing this for good. Thanks @miguelbcr

[2017-04-22 14:55] #69 closed

[2017-04-24 15:34] laysdra7265 opened #70 "java.lang.AbstractMethodError: abstract method "io.reactivex.Observable rx_activity_result2.OnPreResult.response(int, int, android.content.Intent)""
When I run Example code
[code]

then get this exception
looks like the RxAtivityResult2 has update something but here is outdated.

[2017-04-24 20:34] miguelbcr commented on #70
Hi @laysdra7265 !
I'll take a look this week.
If you figure out something let me know.
Thanks!

[2017-04-30 14:00] laysdra7265 commented on #70
For work around ,I fix it by use the older version of RxActivityResult.
`compile 'com.github.VictorAlbertos:RxActivityResult:0.4.0-2.x'`
look like the latest version of RxActivityResult change the
`io.reactivex.Observable rx_activity_result2.OnPreResult.response(int, android.content.Intent)`
to
`io.reactivex.Observable rx_activity_result2.OnPreResult.response(int, int, android.content.Intent)`
so

[2017-04-30 14:36] miguelbcr commented on #70
I have no time this week, sorry. I'll try to fix it next week.
Anyway you are free to make a PR.
Thank you!

[2017-06-05 23:37] onomated commented on #70
Any intention of upgrading this to the latest RxActivityResult version soon?  Or would you rather leave this supporting the current version?

[2017-06-06 06:15] miguelbcr commented on #70
Hi all!,
sorry, I've been very busy last month. 😞
I hope to do it today, anyway PR are welcome.

[2017-06-06 10:54] onomated commented on #70
No problem.  Definitely understand.  If you can't get to it today, let me know and I'll take a stab at getting it all updated.  If you have any process/procedures I should know about on developing in this codebase please let me know.

[2017-06-06 22:19] miguelbcr commented on #68
Hi @eliasbagley !
sorry for the late.
I've released [version 0.5.3-2.x](https://github.com/miguelbcr/RxPaparazzo/releases/tag/0.5.3-2.x)
Let me know if it works for you

[2017-06-06 22:20] miguelbcr commented on #70
Hi @laysdra7265 @onomated !
sorry for the late.
I've released [version 0.5.3-2.x](https://github.com/miguelbcr/RxPaparazzo/releases/tag/0.5.3-2.x)
Let me know if it works for you

[2017-06-07 01:27] onomated commented on #70
Works great! Tested from camera image capture, gallery images, remote images from Google drive etc.  All good on my end.
Thanks a lot for a great component @miguelbcr !

[2017-06-08 07:10] #70 closed

[2017-06-12 12:45] ZBlaZe2 opened #73 "Fatal exception when I try to take pickture"
Here is my code
`RxPaparazzo.single(activity)
.usingCamera()
.subscribeOn(Schedulers.io())
.observeOn(AndroidSchedulers.mainThread())
.subscribe({ response ->
                        // Do smth
 })`

And stcktrace
`06-12 11:25:51.531 32762-32762/com.ezlo.tracker.debug E/AndroidRuntime: FATAL EXCEPTION: main
                                                                        Process: com.ezlo.t

[2017-06-13 19:26] miguelbcr commented on #73
Hi @ZBlaZe2 !
- What RxPaparazzo version are you using?
- Are you using any custom FileProvider in your Manifest.xml?
- If yes, have you set this property `setFileProviderAuthority` in the builder `RxPaparazzo.register(this)` ?

[2017-06-14 09:13] ZBlaZe2 commented on #73
Hi @miguelbcr !

- Version is 0.5.3-2.x
- I don't use custom FileProvider in this project yet

[2017-06-22 19:11] #68 closed

[2017-06-22 19:59] miguelbcr commented on #73
Hi @ZBlaZe2 ,
sorry for the late
I think your problem is that you forgot to add this to your manifest:
[code]
Please read the [README.md](https://github.com/miguelbcr/RxPaparazzo#usage) carefully.
Let me know if it works for you, thanks!

[2017-07-17 10:00] aalexsanyan opened #74 "Could not change the path for saving files"
I want to change  the path
<paths>
    <files-path
        name="RxPaparazzoImages"
        path="RxPaparazzo/"/>
</paths>
and put my application name, but adding RxPaparazzo.Builder.setFileProviderPath(String path)
doesn't work as RxPaparazzo doesn't have Builder
and I'm using
 compile "com.github.miguelbcr:RxPaparazzo:0.5.4-2.x"

[2017-07-17 10:03] #73 closed

[2017-07-17 10:31] miguelbcr commented on #74
Hi @aalexsanyan
you need change this in your `Application` class:
[code]

and this in your `rx_paparazzo_file_paths.xml` file:

[code]

And that will create the `MyAppPhotos` folder in your root file system

[2017-07-17 23:32] aalexsanyan commented on #74
Thanks

[2017-07-17 23:32] #74 closed

[2017-07-17 23:39] aalexsanyan opened #75 "How to pick photo from gallery without making copy of it?"
1.I want to choose pick a image from gallery and display it without cropping and that is why I'm passing null for options  pickSingle(null, OriginalSize())
but I see it saves the copy of existing file as I try to pick a new one I see the copied version of my original photo , I mean if I want to display existing photo I don't want to have the copied version.

2 When I'm want to change the photo as

[2017-07-18 07:00] miguelbcr commented on #75
Hi @aalexsanyan
1- take a look to this issue (https://github.com/miguelbcr/RxPaparazzo/issues/6)
2- it seems to be an issue related with the gallery, maybe not with RxPaparazzo. Anyway you could try to use `RxPaparazzo.single(this).sendToMediaScanner();` in order to notify the gallery when an image is taken/picked up

[2017-07-18 07:30] aalexsanyan commented on #75
in #6 you are suggesting to delete the photo ,
but if I only want to display the existing photo and don't have the copy of it and then delete it could
not display as it's deleting the displaying photo.

I add that code in loadImage() part
file = fileData.file
  File(file?.toURI()).delete()

[2017-07-18 07:34] miguelbcr commented on #75
yeah, I'm sorry, this is the way this lib works

[2017-07-25 15:36] #75 closed

[2017-08-09 15:09] Yazon2006 commented on #56
It was my fault. I used my fragment methods directly instead of response.targetUI(). Sorry for that and thank you for library ^_^

[2017-08-10 09:29] miguelbcr commented on #56
😮  yeah, that's a common error 😄
Don't worry 👍

[2017-08-17 09:28] ramanbranavitski opened #76 "Resizing images bug."
Hi @miguelbcr. I've found a bug in your library. According to the documentation

In your [calculateInSampleSize](https://github.com/miguelbcr/RxPaparazzo/blob/2.x/rx_paparazzo/src/main/java/com/miguelbcr/ui/rx_paparazzo2/interactors/ImageUtils.java#L438) method you need to double `inSampleSize` variable instead of increasing its value. In my case this value was 3 and I need to make my bitmap 3x sm

[2017-08-17 10:52] miguelbcr commented on #76
Hi @ramanbranavitski for reporting it!

Right now I can't remember clearly why about that implementation, but I think it was because you, as user, would prefer get the previous `inSampleSize` instead of exceed it and get a poor quality image accordingly.

Anyway the best would be compare the current output with other implementations such us yours and, for instance, [the google's one](https://githu

[2017-08-17 11:02] ramanbranavitski commented on #76
If so, no one of `ImageSize` make any science. For example I want to use `CustomMaxSize` and want my image to be no more then 1000px. But using your implementation it could be. Even google recommend to double `isSampleSize` when you calculate it. Look [Loading Large Bitmaps Efficiently](https://developer.android.com/topic/performance/graphics/load-bitmap.html)

[2017-08-17 11:13] miguelbcr commented on #76
Yeah, maybe you are right, but I'd  like to make tests before changing it and compare the different outputs, just to clear doubts

[2017-08-19 07:11] miguelbcr commented on #76
Hi @ramanbranavitski ,
I did some tests, this is the output ([Google1](https://github.com/googlesamples/android-DisplayingBitmaps/blob/master/Application/src/main/java/com/example/android/displayingbitmaps/util/ImageResizer.java#L231) and [Google2](https://developer.android.com/topic/performance/graphics/load-bitmap.html)):
[code]

Since `inSampleSize` is a power of 2 it will take the values 1, 2,

[2017-08-22 06:43] ramanbranavitski commented on #76
Hi @miguelbcr. I've tested with an image 2448x3264 and use CustomMaxSize with it's default value = 1024.

[2017-08-22 08:24] miguelbcr commented on #76
Hi @ramanbranavitski ,
this is the output:
[code]
The `required` dimensions from a custom size are calculated [here](https://github.com/miguelbcr/RxPaparazzo/blob/2.x/rx_paparazzo/src/main/java/com/miguelbcr/ui/rx_paparazzo2/interactors/ScaledImageDimensions.java#L72)

The doc in [CustomMaxSize class](https://github.com/miguelbcr/RxPaparazzo/blob/2.x/rx_paparazzo/src/main/java/com/miguelbcr/ui/rx_

[2017-08-26 15:19] mohopa opened #79 "original FileName and FileExtension not found in response?!"
hi.
thank you for useful library. there is a problem in filename , I want to send file to server so need original fileName but this lib change copied file name and `response.data().getFileName`  is null also `response.data().getTile` some times is null and if exist it has just fileName without extension!
I need file extension too. how I can achieve this?

[2017-08-26 16:39] miguelbcr commented on #79
Hi @mohopa,  thanks!
I've tested it and this is the output for a file picked up from gallery:

<img width="653" alt="screen shot 2017-08-26 at 18 28 38" src="https://user-images.githubusercontent.com/2734557/29743212-0bdbec08-8a8d-11e7-9f12-c295a5936d05.png">

As you can see `filename` will give you the information you need, also in `mimeType` you can see the file extension.

Anyway could you prov

[2017-08-27 06:25] gubaju opened #80 "Image compression"
Could you add image compression feature as well.

[2017-08-27 08:24] miguelbcr commented on #80
hi @gubaju !
yeah, I'll take it in account for the next release.
Anyway you also could implement it in a Pull Request.
Thanks!

[2017-09-08 18:30] miguelbcr commented on #79
Hi @mohopa did you solve anything?

[2017-09-08 18:36] miguelbcr commented on #76
Hi @ramanbranavitski , something new?
I think I'll close the issue and PR's ...

[2017-09-14 16:37] #76 closed

[2017-09-20 09:48] mohopa commented on #79
Hi @miguelbcr
the mimeType exist in some case , also same for filename and ...
for example in this case I can't get filename:
![image](https://user-images.githubusercontent.com/5052906/30637651-37610586-9e0e-11e7-98b9-7aa9c3614db5.png)
in this one I can't get anything except title(it was a pkg.apk):
![image](https://user-images.githubusercontent.com/5052906/30637683-50b32500-9e0e-11e7-98c4-0234893

[2017-09-20 11:00] miguelbcr commented on #79
Hi @mohopa!
I'd need all steps you did in order to be able to reproduce that case (type of file, where you pick it up (remote, local, camera,...)).

Btw, are those screenshots when using sample app? if so, please provide the steps (maybe with a GIF or attaching the conflicting file/s) . If not, use the sample app and try again.

Thanks!

[2017-09-21 19:46] mohopa commented on #79
in first picture , I picked file from a folder that create it programmatically on SDCard.
in second one ,I picked file from bluetooth folder on SDCard.
I use it in my app , I will test it in sample app and give you result.

[2017-09-23 14:45] mohopa commented on #79
hi again @miguelbcr
I check it in sample app and got same result :(
(picked file was `pkg.apk` in bluetooth folder on `IntenalStorage`)

![image](https://user-images.githubusercontent.com/5052906/30774173-1df8fc3c-a08b-11e7-9f2d-68e9c028823f.png)

[2017-11-14 00:17] miguelbcr opened #82 "Unable to retrieve files on Download folder on Android O (Oreo, Api 26)"
When selecting an image from Downloads folder it throws `NumberFormatException ` as you can see at this stack trace:

![expetion-download](https://user-images.githubusercontent.com/2734557/32756270-9293c0ce-c8d9-11e7-81ab-7bb13a5db485.gif)

[code]

[2017-11-14 00:19] #82 closed

[2017-11-16 09:28] ndori opened #84 "Feature Request - open a chooserIntent combined with all options"
Hi,
I want to add your library, however I allow in my app to upload a file either with a camera or with the document provider / gallery.
so what I've done is using Intent.createChooser and adding all the different intents so the user will be able to choose what it desires.

how can it be achieved with your library, or can you add this feature?

Tnx

[2017-11-16 10:38] miguelbcr commented on #84
Hi @ndori !
I'm not sure if I've understood your question, maybe you are looking for this -> https://github.com/miguelbcr/RxPaparazzo/issues/47

[2017-11-16 10:44] ndori commented on #84
well yes, kinnda, but I don't want to create a dumb dialog, I want to use the default chooser in android,
I don't use camera permission so I use the camera intent (no need for permission that way) so I allow the user to choose from all of his supporting apps, that is, all camera, all galleries and all document providers...

[2017-11-16 11:13] miguelbcr commented on #84
I understand... anyway the camera is launched calling to `new Intent(MediaStore.ACTION_IMAGE_CAPTURE` and this is what its doc says:

So `<uses-permission android:name="android.permission.CAMERA"/>` is not needed to use `RxPaparazzo` but if you need add this permission in your app for some reason `RxPaparazzo` will manage it asking for permissions when launching the camera intent.

The other case,

[2017-11-16 12:05] ndori commented on #84
yep they changed it in android M...
anyway, the createChooser can work with intents, if you call an intent for each of those actions you can instead aggregate them.
I don't know if you can use it in different context...but I will let you know
`		final Intent galleryIntent = getGalleryIntent();

		final Intent chooserIntent = Intent.createChooser(galleryIntent, "select");

		// Add the camera optio

[2017-11-16 12:11] ndori commented on #84
I can see you are using intents, in TakePhoto.java you use getIntentCamera()
in order to expose this chooser you need to expose those intents for each of the actions (i.e, camera, gallery, documents....) (maybe some wrapper) that will call it, then when you get the result you need to understand which one should handle it

[2017-11-16 12:50] miguelbcr commented on #84
I would appreciate so much if you could do a PR with the changes and an sample how it works

[2017-12-15 10:42] zabi90 opened #85 "Activity restart when capture image"
Hi,
I like this library and i'm using first time this. I'm facing issue that is, when i capture image from camera in some device it's restart the activity and the image is not shown.

[2017-12-15 11:45] miguelbcr commented on #85
Hi @zabi90 !
are you using the sample app or your own app?
Try to reproduce that on the sample app and gather some information, because right now I can imagine the cause apart from that the System closes the activity according to its policy (low memory, ...)

[2017-12-15 11:47] zabi90 commented on #85
Yes it is due to low memory. Now it's working fine. I'll try to test your
sample app.

[2017-12-15 12:32] zabi90 commented on #85
@miguelbcr Is there any way i can save the file path in activity saveInstance bundle so that i can restore it when activity restart.

[2017-12-15 12:42] miguelbcr commented on #85
Currently not because it generates a file name automatically based on timestamp, but it would be an interesting feature to know the filename or passing it to the lib before launching it.

Right now I have no time to do that, but you are welcome to make a PR if you are confident with the code.

Btw, what Android version has the devices were failing?

[2017-12-19 17:42] miguelbcr commented on #84
I'm going to close it by inactivity. Feel free to reopen it.
Thank you!

[2017-12-19 17:42] #84 closed, assigned to nobody

[2017-12-19 17:44] miguelbcr commented on #79
Hi @mohopa did you figure anything out?

[2018-01-01 11:45] #79 closed

[2018-01-04 23:53] juanmendez opened #86 "Read me update request."
This is a great library, thank you so much!.
I just wanted to  request how to configure the file provider path.
RxPaparazzo.register(mApplication).withFileProviderPath( "path" );

[2018-01-05 10:10] miguelbcr commented on #86
Hi @juanmendez,
Thank you!

You can read [REAMDE.md](https://github.com/miguelbcr/RxPaparazzo/blob/2.x/README.md) under `Setup` section where explains how to configure it and take a look to the `app/` folder to see how it is implemented.

And also this issue could help you -> https://github.com/miguelbcr/RxPaparazzo/issues/64

Let me know it you have any problem

[2018-02-15 16:57] ezlo-aleksp commented on #85
I have got the same issue on Samsung A3  5.01

[2018-03-16 12:17] ZaydelEduard opened #87 "Memory leak"
Memory leak happened when pick file from gallery

http://prntscr.com/is0goc

 eventSubscriptions.add(RxPaparazzo.single(this)
                                        .size(ScreenSize())
                                        .usingCamera()
                                        .subscribeOn(Schedulers.io())
                                        .observeOn(AndroidSchedulers.mainThread())

[2018-03-16 14:21] #86 closed, assigned to nobody

[2018-03-16 14:28] miguelbcr commented on #87
Hi @ZaydelEduard !
try to use `response.targetUI().uploadPhoto(response)` instead of `uploadPhoto(response)`

This is a Readme's fragment:

[2018-03-16 18:09] ZaydelEduard commented on #87
The same leak :(
http://prntscr.com/is5rcv

Code:
eventSubscriptions.add(RxPaparazzo.single(this)
                                        .size(ScreenSize())
                                        .usingCamera()
                                        .subscribeOn(Schedulers.io())
                                        .observeOn(AndroidSchedulers.mainThread())

[2018-03-17 08:41] miguelbcr commented on #87
Maybe you have to call to `eventSubscriptions.dispose()` in your activity `onDestroy()` method 🤔

[2018-03-17 09:44] ZaydelEduard commented on #87
http://prntscr.com/isee9s

It's not good?

[2018-03-17 16:22] miguelbcr commented on #87
yeah, it is good as well.
Does it happen with the sample app?

[2018-03-17 17:45] ZaydelEduard commented on #87
Sorry, I did not try.
I just connected the library to my application and tried to use it.

[2018-03-19 15:54] ZaydelEduard commented on #87
Thanks for your replies :) You can close issue, my mistake

Fix: eventSubscriptions.clear() must be above onDestroy().

[2018-03-19 18:20] miguelbcr commented on #87
thanks for report your solution 👍

[2018-05-17 14:26] ZaydelEduard commented on #87
Sorry guys, but issue is still reproduced :( Maybe u can look from your side? The same stack trace as below. Can u reopen pls?

[2018-05-17 14:36] miguelbcr commented on #87
Hi!
would you mind to provide a sample code in order to test it.
You could create a sample project at github and we could work on it, what do you think?

[2018-06-12 19:47] agustinsivoplas opened #88 "Pick from gallery somethimes not works"
I am using the library with fragments (support-v4), but for some strange reason sometimes when I click on an image in the gallery closes but nothings happens. I set debug points on subscribe but never executes. I am running Android P with a Google pixel.

[2018-06-13 08:11] gukzilla commented on #75
@miguelbcr
When you select a video file for 500 MB, it takes a very long time to copy. How to avoid this? I do not need to copy the file without the need

[2018-06-13 10:16] miguelbcr commented on #88
Hi @agustinsivoplas !
Are you using the sample app?
In that case, I have to test it on Android P , otherwise would you mind to provide the code snippet where you are calling to RxPaparazzo?

Have you seen something in the log output?

[2018-06-13 11:49] miguelbcr commented on #75
Originally this lib was thought for photos, after we added other file formats, but we never thought about videos in spite of the lib allows it 😅 .
How the lib works is making a copy of the original file and the you use it. It was though in this way in case you want to crop the photos, but obviously it doesn't suit for other files than are not images 🙄

[2018-06-13 13:43] gukzilla commented on #75
@miguelbcr
Maybe just add a method dontCopy() in next release? :)

[2018-06-13 14:05] miguelbcr commented on #75
yeah, that would be terrific 😄

[2018-06-13 14:08] agustinsivoplas commented on #88
I have tested de sample app with fragments and works fine. In my case the stack is:
Activity -> Fragment A -> Fragment B (at top of stack, this fragment makes the image picker call).
[code]

Check the [video](https://drive.google.com/file/d/1DZxIKWYLiLJ8aMznf5ADL64PuTfEGzQq/view?usp=sharing), the first time not works, after  works and after not works. The error is random. I dont see nothing strang

[2018-06-13 15:20] miguelbcr commented on #88
yeah, it is weird, maybe I'd put logs on the Fragment's onDestroy() methods in order to observe their lifecycle...

Also I'd try another approach to see how it behaves, for instance:

- Using a dialog directly on the avatar image -> https://github.com/miguelbcr/RxPaparazzo/issues/47#issuecomment-249407892

- Put the pick photo code directly on the avatar image instead of delegating it to the `RxBu

[2018-06-13 16:25] agustinsivoplas commented on #88
Thanks very much! I have discovered the error with your help. My bad. I have reused the bottom sheet dialog so by mistake I had two activities listen the same event EVENT_PICK_PHOTO (the both listeners launch RxPapparazo).

The stack was Activity A - >Activity B -> Fragment A -> Fragment B (at top of stack, this fragment makes the image picker call).

So Activity A  and Activity B listen the same

[2018-06-13 16:28] miguelbcr commented on #88
you're welcome @agustinsivoplas !
Thanks for share the problem and solution! 👏

[2018-06-13 16:29] #88 closed, assigned to nobody

[2018-06-28 05:27] sagar091 opened #89 "Cannot change file provider path"
Hello,

While using RxPaparazzo, directory named "RxPaparazzo" created in storage. I don't want to show this directory openly for users, So I change the path from "RxPaparazzo" to ".RxPaparazzo", as a directory with "." cannot be shown by the user.

Another thing is If "." not working then I want to customize that directory name as "ProjectName", but always get error "Error 1 exception occurred" m

[2018-06-28 07:20] miguelbcr commented on #89
Hi @sagar091 !
You can take a look to this issue, it could help you -> https://github.com/miguelbcr/RxPaparazzo/issues/64

Or read again this part of the [Readme](https://github.com/miguelbcr/RxPaparazzo#usage)

But if you don't want to make the dir public to the users, you could use `.useInternalStorage()` option:

[2018-06-28 07:58] sagar091 commented on #89
Got it.

Thanks 👍

[2018-06-28 07:58] #89 closed, assigned to nobody

[2018-07-09 15:10] Zhuinden opened #90 "Doesn't seem to work with images captured by OpenCamera app"
After receiving picture from [Open Camera](https://play.google.com/store/apps/details?id=net.sourceforge.opencamera&hl=en), I get:

[code]

while I do understand that there is a possibility that the camera returns an invalid EXIF tag, but the EXIF tags aren't as important to me as the actual image.

I don't think this should result in an internal failure within the library.

[2018-07-12 08:47] edi233 commented on #90
I got the same error when try to pick .gif file. Xiaomi Redmi Note 3 Pro.

[2018-07-18 10:41] motornyimaksym opened #91 "Feature request: Front camera priority when taking photo."
Thanks a lot for this simple badass library. I had a request to open front camera with highest priority if it possible when taking photo.
https://stackoverflow.com/questions/9686203/how-to-launch-front-camera-with-intent

It would be great if you provide possibility to add some extra to StartIntent in .usingCamera() method. Looking forward!

[2018-08-07 18:01] miguelbcr commented on #90
Thanks for reporting it!
I'll take a look...

[2018-08-25 09:14] miguelbcr commented on #90
Hi @Zhuinden @edi233 !

I was not able to reproduce that crash, in spite of installing [Open Camera](https://play.google.com/store/apps/details?id=net.sourceforge.opencamera&hl=en) 😞

Also I think that crash should be catched by this [try-catch block ](https://github.com/miguelbcr/RxPaparazzo/blob/9ec1a6dc6b0b26e9087ef8671ff7f418844358ea/rx_paparazzo/src/main/java/com/miguelbcr/ui/rx_paparazzo2/in

[2018-08-25 10:31] Zhuinden commented on #90
Is it released to repo? Readme still says `0.6.0-2.x`, just checking.

I'll try it out when I can, thanks.

[2018-08-25 11:46] miguelbcr commented on #90
yeah, I've not updated the Readme yet, but you can use `0.6.1-2.x`

[2018-08-26 07:41] #87 closed, assigned to nobody

[2018-08-28 11:25] Zhuinden commented on #90
Nope, still doesn't work:

[code]

on the other hand, I need to mention that I'm on a Pixel XL and 7.1.1

I do not know if that affects anything

[2018-08-28 11:59] miguelbcr commented on #90
well actually this message (`D/ImageUtils: Could not copy exif tags from '/data/user/0/com.acme.myapp.helloworld/files/RxPaparazzo/CROPPED-20180828_1321_02884.jpg'`) is from RxPaparazzo

so it is reaching the `catch` block in https://github.com/miguelbcr/RxPaparazzo/blob/9ec1a6dc6b0b26e9087ef8671ff7f418844358ea/rx_paparazzo/src/main/java/com/miguelbcr/ui/rx_paparazzo2/interactors/ImageUtils.java#L

[2018-08-28 12:52] Zhuinden commented on #90
Hrmm we had following setup:

[code]

Replacing PNG with JPEG makes it not do anything instead. The error log is gone but apparently it was a red herring.

I think it's best if I post the consumer code, I wonder if it has something to do with the file being transient. BTW with built-in Camera app, it works.

    imageProfile.setImageURI("file:///${response.data().file.path}")

[2018-08-28 13:24] miguelbcr commented on #90
what do you mean with `Replacing PNG with JPEG makes it not do anything instead` ?
Does it works fine?

[2018-08-28 13:47] Zhuinden commented on #90
No, the `setImageURI` still doesn't give me the new picture, but the error logs from the log are gone. Tried without cropping too and same thing, so maybe we are consuming it wrong.

Now I'm not sure what to do with it. ^_^

[2018-08-28 13:53] miguelbcr commented on #90
try to debug without `.crop()` option and go step by step into the RxPaparazzo lib ckecking if `File(path).exits` till you reach `setImageURI()`

Btw, have you tested the sample app with OpenCamera? I tested it and worked 😕

[2018-09-19 06:27] erfanegtfi opened #93 "Add mime type for single file picker get error in android version below kitkat"
After add mime type for single file picker get error. Just in android version below kitkat,
file picker doesn't open

[2018-09-19 06:46] miguelbcr commented on #93
Hi @erfanegtfi !
could you post the error you get and the piece of code where you are calling to RxPaparazzo with the mimeType?

[2018-09-19 07:39] erfanegtfi commented on #93
Hi, I use library sample app
After press 'Pdf and images files' button run in genymotion note 2 sdk version 18
Other features work fine.

`	android.content.ActivityNotFoundException: No Activity found to handle Intent { act=android.intent.action.GET_CONTENT (has extras) }
        at android.app.Instrumentation.checkStartActivityResult(Instrumentation.java:1632)
        at android.app.Instrumentati

[2018-09-19 08:14] erfanegtfi commented on #93
I think you can fix it if add below pieces of code in [PickFile.java](https://github.com/miguelbcr/RxPaparazzo/blob/2.x/rx_paparazzo/src/main/java/com/miguelbcr/ui/rx_paparazzo2/interactors/PickFile.java#L61) and [PickFiles.java](https://github.com/miguelbcr/RxPaparazzo/blob/2.x/rx_paparazzo/src/main/java/com/miguelbcr/ui/rx_paparazzo2/interactors/PickFiles.java#L91) method getFileChooserIntent()

[2018-09-19 10:45] miguelbcr commented on #93
Actually, it is not an unhandled error, it is being handled, for instance, in `SampleActivity.java`:
[code]

The error message says `No Activity found to handle Intent { act=android.intent.action.GET_CONTENT (has extras) }`, It is because there is no a File Browser installed on the device. So, you should encourage to the user to use a File Browser in order to pick up other files such as PDF rather

[2018-09-20 18:28] drewmahrt opened #94 "Failed to find configured root"
I've followed the instructions in the readme, but I seem to be getting the following error:
`Failed to find configured root that contains /data/data/com.example.myapp/files/MyApp/PHOTO-20180920_1422_29861.jpg`

file_paths.xml
[code]

In my Application subclass:
[code]

In my manifest (inside of the application tag):
[code]

[2018-09-20 19:37] miguelbcr commented on #94
Hi @drewmahrt !
It seems to be all OK, I remember a similar  issue -> https://github.com/miguelbcr/RxPaparazzo/issues/64#issuecomment-283917070

Anyway try to remove `.withFileProviderAuthority(BuildConfig.APPLICATION_ID+".file_provider");` since it is the same authority.

Other option is to change the path value (in `rx_paparazzo_file_paths.xml` and setting `.withFileProviderPath("MyApp")` only)

[2018-09-20 20:10] drewmahrt commented on #94
Thanks for the quick reply!

Changing the path in the sample app worked fine, but removing the `withFileProviderAuthority` resulted in the same error in my app.

My app uses id suffixes in gradle for each product flavor. Would that affect anything?

[code]

[2018-09-21 06:33] miguelbcr commented on #94
hmm, maybe 🤔because in your error you got:
[code]

where it seems that `.local` suffix is missing

 try to use `Context.getPackageName()` instead or to put it explicitly
[code]

[2018-09-21 16:52] drewmahrt commented on #94
I resolved the issue by adding my file_paths.xml to each of the flavor directories in the project.

[2018-09-21 16:52] #94 closed, assigned to nobody

[2018-09-21 18:11] miguelbcr commented on #94
Great!
Thanks for sharing the solution! 👏

[2018-09-24 07:42] miguelbcr commented on #90
hi!
any news on this?

[2018-09-24 07:44] Zhuinden commented on #90
Just that it's still the same thing and I'm not sure where to look :smile:

[2018-09-24 08:45] miguelbcr commented on #90
I'd try go step by step with the simpliest config till to use the `.crop()` option as I suggested here https://github.com/miguelbcr/RxPaparazzo/issues/90#issuecomment-416592511

Also you can use the sample app to make the test. In that way I could be able to reproduce the error as well in case there is any

[2018-09-29 22:25] samvmisti opened #95 "Image is rotated 90 degrees left"
Xiaomi A1
Android 8.1 stock
after picking image from camera it is rotated as mentioned above

[2018-09-30 06:50] samvmisti commented on #95
Please use this decision in the lib if it is possible
https://stackoverflow.com/questions/14066038/why-does-an-image-captured-using-camera-intent-gets-rotated-on-some-devices-on-a

[2018-10-07 08:37] dimanych commented on #85
Xiaomi Redmi 4 pro(Android 6.0.1) has the same issue
Fix:
For correct working with that use new `Activity` from `response.targetUI()` after taking picture.

[2018-10-09 10:45] ckpenep commented on #75
Hello. What about dontCopy() method?

[2018-10-09 10:56] gukzilla commented on #75
We had to download the library and expand its boundaries :) I think the easiest way to do it yourself

[2018-10-09 10:58] ckpenep commented on #75
Do you have an example for this case?

[2018-10-09 11:01] miguelbcr commented on #75
sorry, lately I'm very busy 😓
why don't you expand the features by doing a PR, then the community can take advantage of this 🤔 and surely they will appreciate your contribution.

[2018-10-09 12:11] gukzilla commented on #75
Sorry, the hard NDA does not allow me to open the code

[2018-10-15 12:35] vitalyermolovich opened #96 "androidX"
When wiil it be on AndroidX ?

[2018-10-15 13:35] miguelbcr commented on #96
Thanks @vitalyermolovich !
I didn't have the chance of checking it on AndroidX, is it not working?

I hope next week spend some time to review the oppened issues.

[2018-10-22 19:15] motornyimaksym commented on #91
#97 related PR.

[2018-10-25 19:07] miguelbcr commented on #96
sorry I thought it was a new Android version 😅but it is the new support library. I found this article very useful -> https://medium.com/ta-tonthongkam/android-jetpack-android-x-36c73abff1c5

yeah, I think I could do the migration, but not right now 🙄 , before I'd like to address the issues and also migrate the lib to kotlin.

[2018-10-25 19:26] miguelbcr commented on #93
Closing it... feel free to open it if you have more questions

[2018-10-25 19:26] #93 closed, assigned to nobody

[2018-10-25 19:36] miguelbcr commented on #95
@samvgorode thanks for the info! and sorry for the delay 😓
just a question, what happens if you use this 2 options?:

<img width="286" alt="screen shot 2018-10-25 at 20 30 43" src="https://user-images.githubusercontent.com/2734557/47525359-f6ab9700-d894-11e8-8ba1-6d550fb9f835.png">

And for the crop option, could you try:
- No rotate the image, simply click on the OK button to exit from the croppi

[2018-10-25 19:41] samvmisti commented on #95
Problem with rotated bitmap is faced only without using crop. I'll test it tomorrow and will let you know about the results.

[2018-11-14 05:19] alihabbash opened #98 "Store images to cache folder"
How can I store images to the cache dir?
I tried to set the file path to cachedir but it store the copies to

/sdcard/data/user/0/com.ramiissa.dubaiing/cache

Also, how can I provide a static name for all created copies so, when a new copy is created the old one will be overwritten

[2018-11-14 09:02] miguelbcr commented on #98
Hi @alihabbash !
You should use `useInternalStorage()`, calling it the images will be saved in internal storage, otherwise in public storage

Right now the files are renamed using a date-time format (`"yyyyMMdd_HHmm_ssSSS"`), for instance, as Whatsapp does, in order to avoid duplicated names when processing several time at one shot

[2018-12-01 07:12] bhaveshjabuvani88 opened #99 "Pick from gallery set max selection limit"
Pick from gallery there is no option of max selection

[2018-12-01 11:08] miguelbcr commented on #99
Hi @bhaveshjabuvani88
yeah, right now there is no that option.
I'll dig on that because I've never used that before.
I would appreciate so much if you have some insight about this, anyway you are welcome to make a PR if you want adding that feature :)

Thanks!

[2019-02-11 16:09] devnullheart commented on #98
What about sdcard cache directories, like from `getExternalCacheDir()`?
Would be great to have an option to specify cache directory in the builder instead of defining it explicitly.

[2019-02-12 11:32] miguelbcr commented on #98
@cirnoftw I can't remember it clearly, but I guess we added  `setUseInternalStorage(boolean)` option in order to make the API simplier and less error prone because `getExternalCacheDir()` could be not available since it is a removable media and could be ejected by the user but I could give it a thought.

Thanks for your suggestion!

[2019-03-09 15:25] miguelbcr opened #100 "Permissions not working fine on Android P"
As you can see in the screenshot if you open the app delegating the permissions to [RxPermissions](https://github.com/tbruyelle/RxPermissions), in spite of granting the permissions correctly a "Permission Denied" exception is thrown when picking an image up. But if you kill the app and repeat the process it works fine 🤔

![rxpaparazzo-androidP-permissions](https://user-images.githubusercontent.com

[2019-03-09 15:31] #96 closed, assigned to miguelbcr

[2019-03-10 10:13] miguelbcr commented on #95
hi @samvgorode!
did you solve this in the end? or did you find out something?

Thanks!

[2019-03-10 10:16] miguelbcr commented on #90
Hi @Zhuinden!
did you find out something?

Thanks!

[2019-03-10 10:19] #85 closed, assigned to nobody

[2019-03-10 10:32] samvmisti commented on #95
I used code from the stack overflow link, that I've mentioned before, for rotating photo correctly.

[2019-03-10 11:25] Zhuinden commented on #90
Nope, I'll just accept it as is

[2019-03-10 11:25] #90 closed, assigned to nobody

[2019-03-10 21:44] miguelbcr commented on #95
Ok thanks! I'll take it into account thanks!

[2019-04-19 03:27] caishengyan commented on #4
solved the problem

[2019-08-05 18:27] maedjyuk-ghoti opened #102 "Take photo without saving"
Is it possible to take a photo and not have it automatically saved to a file?

[2019-08-06 08:44] miguelbcr commented on #102
hi @zeroclouds!, right now is not possible, but since you have the path to the generated file you can delete it after proccessing it

[2019-08-08 02:46] ahmed3elshaer commented on #100
I think I had the same issue and when I tried to show the exception cause I got this
[code]
but it works fine in the second runtime

@miguelbcr  are you using emulator too?
cuz I just run this on a physical device - Android P - and it didn't happen

[2019-08-08 07:32] miguelbcr commented on #100
yeah, emulator. I had no chance of checking it on a real device 😕
Thanks for your comment!

[2019-08-08 07:40] ahmed3elshaer commented on #100
Anytime!
try on a physical device and let me know the results

[2019-08-08 07:51] miguelbcr commented on #100
Sure! thanks!

[2019-08-12 21:25] BorisLaskov opened #103 "Multiple images selection"
I am trying to select multiple images from the gallery.

[code]

It works fine for the files stored locally. Yet, when I choose Google Photos from the drawer menu, it allows me to select multiple pictures just fine but returns an array of just a single file.

I have done a little bit of debugging. I see that in `PickFiles.java` right in this place:
[code]

it takes only a single `Uri` from `.getDa

[2019-08-12 21:42] BorisLaskov commented on #103
I've just realized that images that I pick through "Photos" are also stored locally... My point is: it simply works when I choose images from the default picker that appears first, but when I go to "Photos" through the drawer menu (where "Photos", Google Drive and potentially other apps reside) I encounter the bug described above. Sorry for confusion.

[2019-09-04 14:50] BorisLaskov opened #104 "Picking images in Android Q"
Picking images from gallery in Android Q does not work (probably due to the changes regarding external storage access). Tested on the emulator with Android Q.

[2019-09-24 08:55] JakubObornik commented on #104
Quick fix could be add this line to your manifest:
 <application android:requestLegacyExternalStorage="true" ... >

or follow guidelines as mention there:
https://developer.android.com/training/data-storage/files/external-scoped

[2019-10-02 13:42] droidluv commented on #104
@JakubObornik can you explain on the guidelines to follow with RxPapparazo? I have no idea how to fix this and using android:requestLegacyExternalStorage="true" doesn't help

[2019-10-02 13:52] JakubObornik commented on #104
@droidluv You have to modify storage scope for saving pictures using RxPaparazzo, because in default it's counting on the external store. Enabled request legacy external storage should fix this problem, are you sure you have the same problem as 145k0v mention? (check your logcat)

Problem is described in "Opt out of scoped storage" part of the documentation

[2019-10-02 14:50] droidluv commented on #104
@JakubObornik sorry android:requestLegacyExternalStorage="true" did actually work, in my panic I didn't realize it, thanks for the support, scoped storage seems like a nightmare, because I was having issues just reading a file from a filepath even though I have both read and write external permissions, and the 'quickfix' helps for now, but Google is going to enforce this strictly from the next And

[2019-10-02 15:14] JakubObornik commented on #104
You can copy the media file or just use MediaStore instead of use ExternalFileDir (everything is explained in documentation (check the table in the first part of doc).

And about the second question for Miquel, I think he already works on the new version, but it is not publicly released yet (check the source code, there is "2.x-SNAPSHOT" version for maven repository)

[2019-10-02 18:10] droidluv commented on #104
@JakubObornik thanks for your advice the thing is the documentation is not clear how I can access a file from the retrieved uri for example I understand this step

      val intent = Intent(Intent.ACTION_OPEN_DOCUMENT).apply {
        addCategory(Intent.CATEGORY_OPENABLE)
        type = "image/*"
    }
    startActivityForResult(intent, READ_REQUEST_CODE)

and in onActivityResult I have

       ov

[2019-12-03 13:28] wodzu96 commented on #100
Unfortunately I have the same issue as @ahmed3elshaer on physical device (Pixel 3). Please let me know if you are going to fix it in the near future? If you want any additional info feel free to ask.
Thanks!

[2020-05-11 11:05] ikurek commented on #104
I've run across this issue today. Using `android:requestLegacyExternalStorage="true"` is just an override, and library should be updated to use recommended file access method, most probably `openFileDescriptor()`

[2020-05-12 15:01] ikurek opened #105 "Camera selection not working with specified CustomMaxSize"
When using Camera to take a picture with RxPaparazzo, when I set builder to use `CustomMaxSize(2000)` as image size, resized file is not being saved, and RxPaparazzo returns `FileData` with `file == null`, without any error visible in logs.

I've tested the same code using other Sizing options, f. e. `SmallSize()` and they work without problems. It seems, that library fails to save resized picture

[2020-07-03 09:42] mohithaiyappa opened #106 "permission not working properly on Android P"
App crashes on low-end Android P devices with java.lang.SecurityException: Permission Denial: opening provider androidx.core.content.FileProvider

The crashes are pretty random sometimes there are no crash but other times there are a lot of crashes

![logcat_001](https://user-images.githubusercontent.com/40754631/86455677-97c34400-bd3e-11ea-9154-8bba6063a101.PNG)

[2021-01-25 13:54] Zhuinden opened #108 "Android support v4 should be Androidx Core in README"
androidx.core.content.FileProvider

[2021-01-29 05:53] Shubham178046 commented on #104
if i capture image or pick image from gallery using RxPaparazzo in android 11 device than I got Error 1 Exception Occurred  message

[2021-04-20 11:53] Vij3n commented on #104
Took a while to find an example for replacement of the deprecated MediaStore.Images.Media.DATA. Finally found the suggestion from @droidluv above which worked - thanks @droidluv. Copying my working onActivityResult method here incase anyone else needs it.

        override fun onActivityResult(requestCode: Int, resultCode: Int, data: Intent?) {
            super.onActivityResult(requestCode, resul

[2021-05-18 11:03] akshayspaceo opened #109 "Android 11 issue"
This library is not working in android 11

[2021-07-01 21:43] wijnanb commented on #102
There is a static function on [FileData](https://github.com/miguelbcr/RxPaparazzo/blob/ec2a8b3c6ad1077ab2ecec8687331eb23a8477cb/rx_paparazzo/src/main/java/com/miguelbcr/ui/rx_paparazzo2/entities/FileData.java#L30) that makes this easy.

`FileData.deleteSourceFile(response.data());`

[2021-08-26 12:55] sandeep212chary commented on #109
Hi any suggestions not working in android 11

[2021-09-14 09:08] galmax1 commented on #109
<img width="405" src="https://user-images.githubusercontent.com/56034696/133229118-e9540449-0f67-42f7-b186-141912632782.png">

You can try .useInternalStorage(). In my case it works!
But the image will not be available in the device gallery.

[2021-09-14 09:09] galmax1 commented on #100
<img width="405" src="https://user-images.githubusercontent.com/56034696/133229118-e9540449-0f67-42f7-b186-141912632782.png">

You can try .useInternalStorage(). In my case it works!
But the image will not be available in the device gallery.

[2021-11-26 14:27] HaneetGH commented on #109
Isn't working

[2021-11-26 14:29] HaneetGH commented on #109
Google stops accepting apps which are not compiling with api 30. Please fix this issue

[2021-11-26 14:41] HaneetGH commented on #109
I make it work a
after adding useInternalStorage here add   <uses-permission
        android:name="android.permission.MANAGE_EXTERNAL_STORAGE"
        android:minSdkVersion="30" />
       in  manifest

       and
public void askForPermissions(boolean camera) {
        if (Build.VERSION.SDK_INT >= Build.VERSION_CODES.R) {
            if (!Environment.isExternalStorageManager()) {
                In

[2022-02-02 19:13] antaki93 commented on #109
You can save your photos to external directory _"/Pictures/MySomeDirectory"_ on Android 11 **without** additional permissions.
Set custom values in `file_provider_paths.xml`:
[code]
and init the RxPaparazzo using:
[code]
UPD: As I understand, you can use at least 4 directories: DCIM, Download, Movies, and Pictures. Each of them described as "top-level public directory" here: https://developer.andr